{% load customtags %}

<div class="box is-height-100">
  <div class="level">
    <div class="level-left">
      <div class="level-item is-max-width-20">
        <div class="notification is-warning is-light">
          <strong>WARNING:</strong> This is NOT an approved medical device and must therefore
          not be used for clinical decision making.
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button is-medium is-warning has-text-white has-text-weight-bold" type="submit" id="compute">
          <span class="icon">
            <i class="fas fa-cogs"></i>
          </span>
          <span>Compute</span>
        </button>
      </div>
    </div>
  </div>
</div>
