{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'patients/add_tumor.css' %}">


{% if action == "add_tumor" %}
<div class="tumor">
    <p>Add tumor</p>
    <form method="POST" action="{% url 'patients:add_tumor' patient.pk %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>T-stage</td>
                <td>{{ tumor_form.stage_prefix }}{{ tumor_form.t_stage }} </td>
            </tr>
            <tr>
                <td>location</td>
                <td>{{ tumor_form.subsite }} </td>
            </tr>
            <tr>
                <td>position</td>
                <td>{{ tumor_form.position }} </td>
            </tr>
            <tr>
                <td>extension</td>
                <td>{{ tumor_form.extension }} </td>
            </tr>
            <tr>
                <td>size</td>
                <td>{{ tumor_form.size }} </td>
            </tr>
        </table>
        <div class="buttons">
            <input type="submit" value="Add" id="add_tumor_button">
            <label for="add_tumor_button">
                <i class="material-icons" title="accept and add">check_circle_outline</i>
            </label>
            <a href="{% url 'patients:detail' patient.pk %}">
                <i class="material-icons" title="cancel and discard">cancel</i>
            </a>
        </div>
    </form>
</div>

{% else %}
<div class="add-tumor">
    <a href="{% url 'patients:add_tumor' patient.pk %}">
        <i class="material-icons" title="add new tumor">add_circle_outline</i>
    </a>
</div>

{% endif %}