{% extends "patients/base.html" %}

{% block add_tumor %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'patients/add.css' %}">

<div class="add-tumor">
    <a href="{% url 'patients:add_tumor' patient.pk %}">
        <i class="material-icons">add_circle_outline</i>
    </a>
</div>
{% endblock add_tumor %}

{% block add_diagnose %}

<form method="POST" action="{% url 'patients:add_diagnose' patient.pk %}">
    {% csrf_token %}
    <tr class="add-diagnose">
        <td>{{ diagnose_form.diagnose_date }}</td>
        <td>{{ diagnose_form.modality }}</td>
        <td>{{ diagnose_form.side }}</td>
        <td>{{ diagnose_form.lnl_I }}</td>
        <td>{{ diagnose_form.lnl_II }}</td>
        <td>{{ diagnose_form.lnl_III }}</td>
        <td>{{ diagnose_form.lnl_IV }}</td>
        <td>
            <input type="submit" value="Add" id="add_diagnose_button">
            <label for="add_diagnose_button">
                <i class="material-icons">add_circle_outline</i>
            </label>
        </td>
    </tr>
</form>
{% endblock add_diagnose %}