{% load static %}

{% if action == "add_diagnose" %}
<tr>
    <form method="POST" action="{% url 'patients:add_diagnose' patient.pk %}">
        {% csrf_token %}
        <td>{{ diagnose_form.diagnose_date }}</td>
        <td>{{ diagnose_form.modality }}</td>
        <td>{{ diagnose_form.side }}</td>
        <td>{{ diagnose_form.Ia }}</td>
        <td>{{ diagnose_form.Ib }}</td>
        <td>{{ diagnose_form.IIa }}</td>
        <td>{{ diagnose_form.IIb }}</td>
        <td>{{ diagnose_form.III }}</td>
        <td>{{ diagnose_form.IV }}</td>
        <td>{{ diagnose_form.V }}</td>
        <td>{{ diagnose_form.VII }}</td>
        <td>
            <div class="buttons has-addons is-right">
                <button class="tag button is-small is-success" type="submit" value="add">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>add</span>
                </button>
                <a class="tag button is-small is-danger" href="{% url 'patients:detail' patient.pk %}">
                    <span>delete</span>
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
            </div>
        </td>
    </form>
</tr>

{% else %}
<tr>
    <td colspan="12">
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <a class="button is-info" href="{% url 'patients:add_diagnose' patient.pk %}">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Add diagnose</span>
                </a>
            </div>
        </div>
    </td>
</tr>

{% endif %}