{% load static %}

{% if action == "add_diagnose" %}
<tr>
    <form method="POST" action="{% url 'patients:add_diagnose' patient.pk %}">
        {% csrf_token %}
        <td>{{ diagnose_form.diagnose_date }}</td>
        <td>{{ diagnose_form.modality }}</td>
        <td>{{ diagnose_form.side }}</td>
        <td>{{ diagnose_form.I }}</td>
        <td>{{ diagnose_form.II }}</td>
        <td>{{ diagnose_form.III }}</td>
        <td>{{ diagnose_form.IV }}</td>
        <td>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-small" type="submit" value="add">Add</button>
                </div>
                <div class="control">
                    <a class="button is-small" href="{% url 'patients:detail' patient.pk %}">Delete/Cancel</a>
                </div>
            </div>
        </td>
    </form>
</tr>

{% else %}
<tr>
    <td colspan="8">
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <a class="button is-white" href="{% url 'patients:add_diagnose' patient.pk %}">
                    <span class="icon">
                        <i class="material-icons">add_circle_outline</i>
                    </span>
                    <span>Add diagnose</span>
                </a>
            </div>
        </div>
    </td>
</tr>

{% endif %}