{% extends "base.html" %}

{% block content %}

<div class="block">
    <p class="title">Create</p>
    <p class="subtitle">Define a new patient</p>
</div>

<section class="block columns is-centered">
    <div class="column is-half">
        <div class="box">
            <form action="." method="post">
                {% csrf_token %}
                <table class="table is-fullwidth">
                    <tbody>
                        {{ form.as_table }}
                    </tbody>
                </table>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            <span class="icon">
                                <i class="material-icons">person_add</i>
                            </span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}