{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'patients/dashboard.css' %}">

<form method="POST" action="{% url 'patients:dashboard' %}">
{% csrf_token %}

    <div class="level">
        <div class="level-left">
            <p class="title is-3">Diagnoses</p>
        </div>
        
        
        <div class="level-item">
            <div class="field is-grouped">
                {% for checkbox in form.modalities %}
                <div class="control">
                    {{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}" class="checkbox button is-medium">
                        <span>{{ checkbox.choice_label }}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        

        <div class="level-right">
            <div class="field">
                <label for="{{ form.modality_combine.id_for_label }}" class="label">{{ form.modality_combine.label }}</label>
                <div class="control">
                    {{ form.modality_combine }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <section>
        <p class="title is-3">Patient details</p>

        <div class="columns">
            <div class="column">
                <div class="box has-text-centered">
                    <p class="heading is-size-6">smoking status</p>
                    <div class="block is-flex is-flex-direction-row is-justify-content-center">
                        <div class="field has-addons">
                            {% for radio in form.nicotine_abuse %}
                            <p class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="checkbox button is-medium">
                                    {{ radio.choice_label }}
                                </label>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box has-text-centered">
                    <p class="heading is-size-6">p16</p>
                    <div class="block is-flex is-flex-direction-row is-justify-content-center">
                        <div class="field has-addons">
                            {% for radio in form.hpv_status %}
                            <div class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="checkbox button is-medium">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box has-text-centered">
                    <p class="heading is-size-6">neck dissection</p>
                    <div class="block is-flex is-flex-direction-row is-justify-content-center">
                        <div class="field has-addons">
                            {% for radio in form.neck_dissection %}
                            <div class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="checkbox button is-medium">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <p class="title is-3">Primary tumor</p>
                <p class="subtitle">Oropharynx</p>

                <div class="columns">
                    <div class="column">
                        <p class="title is-5">Subsite</p>
                        {% for radio in form.subsites %}
                        <div class="field">
                            <div class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="radio button is-fullwidth is-medium">
                                    <span>{{ radio.choice_label }}</span>
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="column">
                        <p class="title is-5">T-stage</p>
                        {% for checkbox in form.tstages %}
                        <div class="field">
                            <div class="control">
                                {{ checkbox.tag }}
                                <label for="{{ checkbox.id_for_label }}" class="checkbox button is-fullwidth is-medium">
                                    {{ checkbox.choice_label }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr>

                <div class="columns">                    
                    <div class="column">

                    </div>
                    <div class="column">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tumor">
        <p class="title">Primary Tumor (oropharynx)</p>
        
        <div class="subsite-stage">
            <div class="subsite">
                <ul>
                    <li>Subsite</li>

                    {% for radiobutton in form.subsites %}
                    <li>
                        {{ radiobutton.tag }}
                        <label for="{{ radiobutton.id_for_label }}">{{ radiobutton.choice_label }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <hr class="vertical">

            <div class="stage">
                <ul>
                    <li>T-stage</li>

                    {% for checkbox in form.tstages %}
                    <li>
                        {{ checkbox.tag }}
                        <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr class="horizontal">

        <table class="lateral">
            <caption>Lateralization</caption>
            <tr>
                <th>central</th>
                <th>midline extension</th>
            </tr>
            <tr>
                <td>
                    <div class="central buttons">
                        {% for radiobutton in form.central %}
                    
                        {{ radiobutton.tag }}
                        <label for="{{ radiobutton.id_for_label }}">
                            <i class="material-icons">{{ radiobutton.choice_label }}</i>
                        </label>
                        {% endfor %}
                    </div>
                </td>

                <td>
                    <div class="extension buttons">
                        {% for radiobutton in form.midline_extension %}
                    
                        {{ radiobutton.tag }}
                        <label for="{{ radiobutton.id_for_label }}">
                            <i class="material-icons">{{ radiobutton.choice_label }}</i>
                        </label>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="involvement">
        <div class="contra">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">contra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">I</td>
                        <td>a</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_Ia %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_Ib %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">II</td>
                        <td>a</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_IIa %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_IIb %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">III</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_III %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">IV</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_IV %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">V</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_V %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">VII</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.contra_VII %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="ipsi">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">ipsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">I</td>
                        <td>a</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_Ia %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_Ib %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">II</td>
                        <td>a</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_IIa %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>b</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_IIb %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">III</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_III %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">IV</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_IV %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">V</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_V %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">VII</td>
                        <td>
                            <div class="lnl buttons">
                                {% for radiobutton in form.ipsi_VII %}
                                {{ radiobutton.tag }}
                                <label for="{{ radiobutton.id_for_label }}">
                                    <i class="material-icons">{{ radiobutton.choice_label }}</i>
                                </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="submit" value="test">
    <p>{{ n }}</p>
</form>


{% endblock content %}