{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'patients/dashboard.css' %}">

<form method="POST" action="{% url 'patients:dashboard' %}">
{% csrf_token %}

    <div class="level">
        <div class="level-left">
            <p class="title is-3">Diagnoses</p>
        </div>
        
        
        <div class="level-item">
            <div class="field is-grouped">
                {% for checkbox in form.modalities %}
                <div class="control">
                    {{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}" class="button is-medium">
                        <span>{{ checkbox.choice_label }}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        

        <div class="level-right">
            <div class="field">
                <label for="{{ form.modality_combine.id_for_label }}" class="label">{{ form.modality_combine.label }}</label>
                <div class="control">
                    {{ form.modality_combine }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <section>
        <p class="title is-3">Patient details</p>

        <div class="columns">
            <div class="column">
                <div class="box has-text-centered">
                    <p class="heading is-size-6">smoking status</p>
                    <div class="block is-flex is-flex-direction-row is-justify-content-center">
                        <div class="field has-addons">
                            {% for radio in form.nicotine_abuse %}
                            <p class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="button is-medium">
                                    {{ radio.choice_label }}
                                </label>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box has-text-centered">
                    <p class="heading is-size-6">p16</p>
                    <div class="block is-flex is-flex-direction-row is-justify-content-center">
                        <div class="field has-addons">
                            {% for radio in form.hpv_status %}
                            <div class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="button is-medium">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box has-text-centered">
                    <p class="heading is-size-6">neck dissection</p>
                    <div class="block is-flex is-flex-direction-row is-justify-content-center">
                        <div class="field has-addons">
                            {% for radio in form.neck_dissection %}
                            <div class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="button is-medium">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <p class="title is-3">Primary tumor</p>
                <p class="subtitle">Oropharynx</p>

                <div class="columns">
                    <div class="column">
                        <p class="title is-5">Subsite</p>
                        {% for radio in form.subsites %}
                        <div class="field">
                            <div class="control">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="button is-fullwidth is-medium">
                                    <span>{{ radio.choice_label }}</span>
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="column">
                        <p class="title is-5">T-stage</p>
                        {% for checkbox in form.tstages %}
                        <div class="field">
                            <div class="control">
                                {{ checkbox.tag }}
                                <label for="{{ checkbox.id_for_label }}" class="button is-fullwidth is-medium">
                                    {{ checkbox.choice_label }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr>

                <p class="title is-5">Lateralization</p>
                <div class="columns">                    
                    <div class="column has-text-centered">
                        <p class="heading is-size-7">central</p>
                        <div class="block is-flex is-flex-direction-row is-justify-content-center">
                            <div class="field has-addons">
                                {% for radio in form.central %}
                                <p class="control">
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}" class="button">
                                        {{ radio.choice_label }}
                                    </label>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <p class="heading is-size-7">midline extension</p>
                        <div class="block is-flex is-flex-direction-row is-justify-content-center">
                            <div class="field has-addons">
                                {% for radio in form.midline_extension %}
                                <p class="control">
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}" class="button">
                                        {{ radio.choice_label }}
                                    </label>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box">
                <p class="title is-4">contra</p>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td rowspan="2">I</td>
                            <td>a</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_Ia %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_Ib %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">II</td>
                            <td>a</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_IIa %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_IIb %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">III</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_III %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">IV</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_IV %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">V</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_V %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">VII</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.contra_VII %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-2"></div>
        <div class="column is-4">
            <div class="box">
                <p class="title is-4">ipsi</p>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td rowspan="2">I</td>
                            <td>a</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_Ia %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_Ib %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">II</td>
                            <td>a</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_IIa %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_IIb %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">III</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_III %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">IV</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_IV %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">V</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_V %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">VII</td>
                            <td>
                                <div class="block is-flex is-justify-content-flex-end">
                                    <div class="field has-addons">
                                        {% for radio in form.ipsi_VII %}
                                        <p class="control">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}" class="button is-small">
                                                {{ radio.choice_label }}
                                            </label>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <input type="submit" value="test">
    <a name="anchor"></a>
    <p>{{ n }}</p>
</form>


{% endblock content %}