{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'patients/detail.css' %}">

<div class="patient-header">
    <ul>
        <li>Patient {{ patient.pk }}</li>
        <li>Hash-ID: {{ patient.identifier }} </li>
    </ul>
</div>

<div class="patient-info">
    <ul>
        <li>date of diagnosis: {{ patient.diagnose_date }} </li>
        <li>age: {{ patient.age }} </li>
        <li>gender: {{ patient.gender }} </li>
        <li>alcohol abuse: {{ patient.alcohol_abuse }} </li>
        <li>nicotine abuse: {{ patient.nicotine_abuse }} </li>
        <li>HPV status: {{ patient.hpv_status }} </li>
        <li>stage: {{ patient.get_t_stage_display }} {{ patient.get_n_stage_display }} {{ patient.get_m_stage_display }} </li>
    </ul>
</div>

<div class="tumor-list">
    {% for tumor in patient.tumor_set.all %}
    <div class="tumor">
        <p>Tumor {{ forloop.counter }}</p>
        <table>
            <tr>
                <td>T-stage</td>
                <td>{{ tumor.stage_prefix }}{{ tumor.get_t_stage_display }} </td>
            </tr>
            <tr>
                <td>location</td>
                <td>{{ tumor.get_location_display }} </td>
            </tr>
            <tr>
                <td>position</td>
                <td>{{ tumor.get_position_display }} </td>
            </tr>
            <tr>
                <td>extension</td>
                <td>{{ tumor.extension }} </td>
            </tr>
            <tr>
                <td>size</td>
                <td>{{ tumor.size }} cm³</td>
            </tr>
        </table>
        <div class="buttons">
            <form action="{% url 'patients:delete_tumor' patient.pk %}" method="POST">
                {% csrf_token %}
                <input name="tumor_pk" value="{{ tumor.pk }}">
                <input type="submit" value="Delete" id="delete_tumor_button">
                <label for="delete_tumor_button">
                    <i class="material-icons" title="delete tumor">delete_outline</i>
                </label>
            </form>
        </div>
    </div>
    {% endfor %}

    {% include 'patients/add_tumor.html' %}

</div>

<div class="diagnose-list">
    <h3>lymph node level involvement</h3>
    <table>
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <tr class="header">
            <th>diagnose date</th>
            <th>moadlity</th>
            <th>side</th>
            <th>I</th>
            <th>II</th>
            <th>III</th>
            <th>IV</th>
            <th></th>
        </tr>

        {% for diagnose in patient.diagnose_set.all %}
        <tr>
            <td>{{ diagnose.diagnose_date }}</td>
            <td>{{ diagnose.get_modality_display }}</td>
            <td>{{ diagnose.get_side_display }}</td>
            <td>{{ diagnose.lnl_I }}</td>
            <td>{{ diagnose.lnl_II }}</td>
            <td>{{ diagnose.lnl_III }}</td>
            <td>{{ diagnose.lnl_IV }}</td>
            <td>
                <form action="{% url 'patients:delete_diagnose' patient.pk %}" method="POST">
                    {% csrf_token %}
                    <input name="diagnose_pk" value="{{ diagnose.pk }}">
                    <input type="submit" value="Delete" id="delete_diagnose_button">
                    <label for="delete_diagnose_button">
                        <i class="material-icons" title="delete diagnose">delete_outline</i>
                    </label>
                </form>
            </td>
        </tr>
        {% endfor %}

        {% include 'patients/add_diagnose.html' %}

    </table>
</div>
    
{% endblock content %}