{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="block">
    <p class="title">List</p>
    <p class="subtitle">All patients currently in the database</p>
</div>

<section class="section">
    <form method="GET">
        <table class="table">
            {{ filterset.form.as_table }}
        </table>
        <input class="button" type="submit">
    </form>
</section>

<table class="block table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>
                <span class="icon-text">
                    <a href="?order_by=pk" class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <span>Patient</span>
                    <a href="?order_by=-pk" class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                </span>
            </th>
            <th>Hash</th>
            <th>
                <span class="icon-text">
                    <a href="?order_by=diagnose_date" class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <span>Date of diagnose</span>
                    <a href="?order_by=-diagnose_date" class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                </span>
            </th>
            <th>gender</th>
            <th>
                <span class="icon-text">
                    <a href="?order_by=age" class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <span>Age</span>
                    <a href="?order_by=-age" class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                </span>
            </th>
            <th>
                <span class="icon-text">
                    <a href="?order_by=t_stage,n_stage,m_stage" class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <span>Stage</span>
                    <a href="?order_by=-t_stage,-n_stage,-m_stage" class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                </span>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for patient in patient_list %}
        <tr>
            <td>{{ patient.pk }} </td>
            <td>{{ patient.hash_value }} </td>
            <td>{{ patient.diagnose_date | date:"Y-m-d" }} </td>
            <td>{{ patient.gender }} </td>
            <td>{{ patient.age }} </td>
            <td>{{ patient.get_t_stage_display }} {{ patient.get_n_stage_display }} {{ patient.get_m_stage_display }} </td>
            <td>
                <div class="buttons has-addons is-right">
                    <a href="{% url 'patients:detail' patient.pk %}" class="tag button is-info is-small">
                        <span class="icon">
                            <i class="fas fa-address-card"></i>
                        </span>
                        <span>details</span>
                    </a>
                    <a href="{% url 'patients:delete' patient.pk %}" class="tag button is-danger is-small">
                        <span>delete</span>
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="7">
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <a class="button is-info" href="{% url 'patients:create' %}">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Add patient</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}