{% load mytags %}

<td>
    <div class="block is-flex is-justify-content-flex-end">
        <div class="field has-addons">
            {% for radio in radiobuttons %}
            <p class="control">
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}" class="tag button is-info">
                    <i class="fas fa-lg fa-{{ radio.choice_label }}"></i>
                </label>
            </p>
            {% endfor %}
        </div>
    </div>
</td>
<td>
    <div class="tags has-addons is-fullwidth">
        {% if stat|index:1 != 0 %}
            <div class="tag pos" style="width: {{ stat|bar:'1,100' }}px;"></div>
        {% endif %}
        {% if stat|index:0 != 0 %}
            <div class="tag unk" style="width: {{ stat|bar:'0,100' }}px;"></div>
        {% endif %}
        {% if stat|index:-1 != 0 %}
            <div class="tag neg" style="width: {{ stat|bar:'-1,100' }}px;"></div>
        {% endif %}
    </div>
</td>