{% extends "base.html" %}

{% block content %}

<section class="block columns is-centered">
    <div class="column is-5">
        <div class="box">
            {% if action == "create_patient" %}
            <p class="title is-3">New patient</p>
            {% elif action == "edit_patient" %}
            <p class="title is-3">Edit patient {{ patient.pk }}</p>
            {% endif %}

            <form action="." method="post">
                {% csrf_token %}

                {% if action == "create_patient" %}
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <label for="{{ form.first_name.id_for_label }}" class="label is-hidden">
                            {{ form.first_name.label }}
                        </label>
                        {{ form.first_name }}
                    </div>
                    <div class="control is-expanded">
                        <label for="{{ form.last_name.id_for_label }}" class="label is-hidden">
                            {{ form.last_name.label }}
                        </label>
                        {{ form.last_name }}
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <label for="{{ form.birthday.id_for_label }}" class="label">
                            {{ form.birthday.label }}
                        </label>
                        {{ form.birthday }}
                    </div>
                    <div class="control is-expanded">
                        <label for="{{ form.diagnose_date.id_for_label }}" class="label">
                            {{ form.diagnose_date.label }}
                        </label>
                        {{ form.diagnose_date }}
                    </div>
                </div>
                {% endif %}

                <div class="field is-grouped">
                    <div class="control">
                        <label for="{{ form.alcohol_abuse.id_for_label }}" class="label">
                            {{ form.alcohol_abuse.label }}
                        </label>
                        <div class="select">
                            {{ form.alcohol_abuse }}
                        </div>
                    </div>
                    <div class="control">
                        <label for="{{ form.nicotine_abuse.id_for_label }}" class="label">
                            {{ form.nicotine_abuse.label }}
                        </label>
                        <div class="select">
                            {{ form.nicotine_abuse }}
                        </div>
                    </div>
                    <div class="control">
                        <label for="{{ form.hpv_status.id_for_label }}" class="label">
                            {{ form.hpv_status.label }}
                        </label>
                        <div class="select">
                            {{ form.hpv_status }}
                        </div>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <label for="{{ form.gender.id_for_label }}" class="label">
                            {{ form.gender.label }}
                        </label>
                        <div class="select">
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="control">
                        <label for="{{ form.n_stage.id_for_label }}" class="label">
                            {{ form.n_stage.label }}
                        </label>
                        <div class="select">
                            {{ form.n_stage }}
                        </div>
                    </div>
                    <div class="control">
                        <label for="{{ form.m_stage.id_for_label }}" class="label">
                            {{ form.m_stage.label }}
                        </label>
                        <div class="select">
                            {{ form.m_stage }}
                        </div>
                    </div>
                </div>


                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        {% if action == "create_patient" %}
                        <a href="{% url 'patients:list' %}" class="button is-info">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Cancel</span>
                        </a>
                        {% elif action == "edit_patient" %}
                        <a href="{% url 'patients:detail' patient.pk %}" class="button is-info">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Cancel</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            <span class="icon">
                                <i class="fas fa-save"></i>
                            </span>
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}