{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="block">
    <p class="title">Upload</p>
    <p class="subtitle">Import patients from CSV table</p>
</div>

<section class="block columns is-centered">
    <div class="column is-half">
        {% if not upload_success %}
        <form action="{% url 'patients:upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <div class="file">
                        <label class="file-label">
                            {{ form.data_file }}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="material-icons">find_in_page</i>
                                </span>
                                <span class="file-label">
                                    Choose a file...
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">
                        <span class="icon">
                            <i class="material-icons">backup</i>
                        </span>
                        <span>Upload</span>
                    </button>
                </div>
            </div>
        </form>
        {% else %}
        <p>{{ num_new }} patients have been added and {{ num_skipped }} were skipped.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}