{% load sekizai_tags %}
{% load static %}
{% load customtags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'dataexplorer/barplot.css' %}">
{% endaddtoblock %}

{% with stat=stats|getattr:lnl_key %}
<td class="barplot-tablecell">
  <div class="tags has-addons">
    <span class="stats tag barplot-legend is-danger is-light" data-statfield="{{ lnl_key }}" data-index="1"
      {% if not hide_tooltip %}data-tooltip="{{ stat|get:True }} of {{ stat|sum }} ({{ stat|percent:True }}%) patients have metastases in LNL {{ lnl }}"
      {% endif %}>
      {% if show_percent %}
      {{ stat|percent:1 }}%
      {% else %}
      {{ stat|index:1 }}
      {% endif %}
    </span>
    <span class="stats tag barplot has-text-white is-flex is-flex-grow-1" data-statfield="{{ lnl_key }}" data-index="0"
      {% if not hide_tooltip %}data-tooltip="{{ stat|get:None }} of {{ stat|sum }} ({{ stat|percent:None }}%) patients have unknown involvement in LNL {{ lnl }}"
      {% endif %}
      style="background-size: {{ stat|bar:'True,100' }}% 100%, calc({{ stat|bar:'True,100' }}% + {{ stat|bar:'None,100' }}%) 100%, 100% 100%;">
      {% if stat|index:0 > 0 %}
      {% if show_percent %}
      {{ stat|percent:0 }}%
      {% else %}
      {{ stat|index:0 }}
      {% endif %}
      {% endif %}
    </span>
    <span class="stats tag barplot-legend is-success is-light" data-statfield="{{ lnl_key }}" data-index="2"
      {% if not hide_tooltip %}data-tooltip="{{ stat|get:False }} of {{ stat|sum }} ({{ stat|percent:False }}%) patients do not have metastases in LNL {{ lnl }}"
      {% endif %}>
      {% if show_percent %}
      {{ stat|percent:False }}%
      {% else %}
      {{ stat|get:False }}
      {% endif %}
    </span>
  </div>
</td>
{% endwith %}
