{% extends 'base.html' %}

{% load sekizai_tags %}
{% load customtags %}
{% load static %}

{% block head %}
{% include 'head_content.html' with title='LyProX · Data Explorer' %}
{% endblock head %}

{% block "css" %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block "js" %}
<script src="{% static 'dataexplorer/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
<!--
  The CSRF token is not necessary for the GET request by this form, but for the AJAX request.
  Also, it is outside the form such that it doesn't get sent via the keyboard shortcut GET request.
-->
{% csrf_token %}
<form method="GET" action="{% url 'dataexplorer:dashboard' %}" id="dashboard-form" name="dashboardform">
  <section class="section">
    <div class="fixed-grid has-4-cols">
      <div class="grid">
        <div class="cell is-col-span-1">
          {% include 'dataexplorer/filter/tumor.html' with form=form %}
        </div>
        <div class="cell is-col-span-3">
          <div class="fixed-grid is-height-100 has-2-cols">
            <div class="grid is-height-100">
              <div class="cell">
                {% include 'dataexplorer/filter/patient.html' with form=form %}
              </div>
              <div class="cell">
                {% include 'dataexplorer/filter/datasets.html' with form=form %}
              </div>
              <div class="cell is-col-span-2">
                {% include 'dataexplorer/filter/modalities.html' with form=form %}
              </div>
              <div class="cell">
                {% include 'dataexplorer/involvement.html' with form=form side='contra' %}
              </div>
              <div class="cell">
                {% include 'dataexplorer/involvement.html' with form=form side='ipsi' %}
              </div>
              <div class="cell is-col-span-2">
                {% include 'dataexplorer/controls.html' with form=form %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}
