{% extends 'base.html' %}

{% load sekizai_tags %}
{% load customtags %}
{% load static %}

{% block head %}
{% include 'head_content.html' with title='LyProX · Data Explorer' %}
{% endblock head %}

{% block "css" %}
<link rel="stylesheet" href="{% static 'dataexplorer/table.css' %}">
{% endblock %}

{% block "js" %}
{% endblock %}

{% block content %}
<section class="section">
  <a href="{% url 'dataexplorer:download' %}?{{ request.GET.urlencode }}" class="button is-floating is-warning has-text-white has-text-weight-bold">
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>Download CSV</span>
  </a>

  <div class="container">
    <div class="box">
      <div class="table-container">
        {{ table|safe }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
