<div class="box is-height-100">
  <div class="columns">
    <div class="column is-2 is-flex is-flex-direction-row is-justify-content-left is-align-items-center">
      <p id="modalities-title" class="title is-4">Modalities</p>
    </div>

    <div class="column is-8">
      <div class="grid">
        {% for checkbox in form.modalities %}
        <div class="cell">
          <div class="field">
            <div class="control">
              {{ checkbox.tag }}
              <label for="{{ checkbox.id_for_label }}" class="button is-link is-light is-fullwidth">
                {{ checkbox.choice_label }}
              </label>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="column is-2 is-flex is-flex-direction-row is-justify-content-right is-align-items-center">
      <div class="select">
        {{ form.modality_combine }}
      </div>

      <div class="tooltip">
        <span class="icon ml-2">
          <i class="fas fa-question"></i>
        </span>
        {% include 'dataexplorer/help/tooltip.html' with side="left" position="bottom" image='dataexplorer/help/modalities.gif' markdown='dataexplorer/help/modalities.md' %}
      </div>
    </div>
  </div>
</div>
