<div class="tile is-child box">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-4">Patient details</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="tooltip">
          <span class="icon">
            <i class="fas fa-question"></i>
          </span>
          {% include 'dataexplorer/help/tooltip.html' with side="right" position="bottom" image='dataexplorer/help/toggle.gif' html='dataexplorer/help/patient.html' %}
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column py-0">
      {{ form.smoke }}
      {% include 'dataexplorer/three_way_toggle_stats.html' with stats=stats field='smoke' show_percent=show_percent %}

      {{ form.hpv }}
      {% include 'dataexplorer/three_way_toggle_stats.html' with stats=stats field='hpv' show_percent=show_percent %}
    </div>

    <div class="column py-0">
      {{ form.surgery }}
      {% include 'dataexplorer/three_way_toggle_stats.html' with stats=stats field='surgery' show_percent=show_percent %}

      {{ form.is_n_plus }}
      {% include 'dataexplorer/three_way_toggle_stats.html' with stats=stats field='is_n_plus' show_percent=show_percent %}
    </div>
  </div>
</div>
