{% load customtags %}

<div class="field is-grouped is-grouped-multiline is-justify-content-right is-gap-1">
  <div class="control is-margin-right-auto">
    <div class="button is-small is-warning has-text-weight-bold has-text-white" onclick="toggleAll('{{ checkboxes.name }}');">
      <span>{{ checkboxes.label|capitalize_subsite }}</span>
    </div>
  </div>
  {% for checkbox in checkboxes %}
  <div class="control">
    {{ checkbox.tag }}
    <label for="{{ checkbox.id_for_label }}" class="button is-small is-link is-light" data-tooltip="{{ checkbox.choice_label }}">
      <span>{{ checkbox.data.value }}</span>
    </label>
  </div>
  {% endfor %}
</div>
