Django>=4.0.4
django-filter==2.4
django-phonenumber-field[phonenumbers]==6.1
django-auth-logger==2.1
Markdown==3.3
numpy==1.22
pandas==1.5
fontawesomefree==5.15.4
django-dbbackup>=4.0.2
icd10-cm==0.0.4
python-magic
