{% load static %}

<div class="box">
  <p class="block is-size-5">
    The below paper describes the data that was kindly provided to us by Vincent
    Grégoire. It was extracted at the Centre Léon Bérard in Lyon, France.
  </p>
  <div class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img class="is-rounded" src="{% static 'green-journal.png' %}?v={{ VERSION }}" alt="repo icon">
      </figure>
    </div>
    <div class="media-content">
      <p>
        Laurence Bauwens, Aline Baltres, Danny-Joe Fiani, Philippe Zrounba,
        Guillaume Buiret, Bertrand Fleury, Nazim
        Benzerdjeb, Vincent Grégoire
        <br>
        <strong class="has-text-secondary">Prevalence and distribution of cervical
        lymph node metastases in HPV-positive and HPV-negative oropharyngeal
        squamous cell carcinoma,</strong>
        <br>
        <em>Radiotherapy and Oncology</em> <strong>157,</strong> 122-129 (2021)
        <a href="https://doi.org/10.1016/j.radonc.2021.01.028" target="_blank">10.1016/j.radonc.2021.01.028</a>
      </p>
    </div>
  </div>
</div>
