{% load static %}

<div class="box">
  <div class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img class="is-rounded" src="{% static pub.key|addstr:'.png' %}" alt="repo icon">
      </figure>
    </div>
    <div class="media-content">
      <p>
        {% for author in pub.authors %}
        {{ author }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        <br>
        <strong class="has-text-secondary">
          {{ pub.title }},
        </strong>
        <br>
        <em>{{ pub.journal }}</em> <strong>{{ pub.issue }},</strong> {{ pub.page }} ({{ pub.year }})
        <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
      </p>
    </div>
  </div>
</div>
