h1 {
    font-size: 40px;
    text-align: center;
}

.links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links ul li {
    flex-grow: 1;
    background-color: gray;
    margin: 0 20px;
    padding: 10px;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul li a i {
    font-size: 60px;
    color: black;
}

.links ul li a i:hover {
    color: red;
    cursor: pointer;
}