<!--
  This gets loaded by the main navbar.html template. This allows for easy customization of the navbar.
-->
<div class="navbar-item has-dropdown is-hoverable">
  <a href="{% url 'patients:list' %}" class="navbar-link" title="list all patients in database">
    Patients
  </a>

  <div class="navbar-dropdown">
    <a href="{% url 'patients:list' %}" class="navbar-item" title="list all patients in database">
      List
    </a>
    <a href="{% url 'patients:create' %}" class="navbar-item" title="create new patient">
      Create
    </a>
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
  <a href="{% url 'patients:dataset_list' %}" class="navbar-link" title="list and download datasets">
    Datasets
  </a>

  <div class="navbar-dropdown">
    <a href="{% url 'patients:dataset_list' %}" class="navbar-item" title="list and download datasets">
      List
    </a>
    <a href="{% url 'patients:dataset_upload' %}" class="navbar-item" title="upload new datasets">
      Upload
    </a>
  </div>
</div>
