{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="block columns is-centered">
            <div class="column is-3">
                <div class="box">
                    <p class="title is-3">Sign Up</p>
                    <p class="subtitle is-6">
                        To sign up, first choose your affiliated institution or create it, if it does not exist yet
                    </p>

                    {% for institution in institutions %}
                    <div class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{ institution.logo }}" alt="Logo of {{ institution.name }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <p>{{ institution.name }}</p>
                            <p>{{ institution.street }}, {{ institution.city }}, {{ institution.country }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <a href="{{ url 'accounts:institution_create' }}" class="media">
                        <figure class="media-left">
                            <p class="icon is-large">
                                <i class="fas fa-clinic-medical"></i>
                            </p>
                        </figure>
                        <div class="media-content">
                            <p>Create new institution.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}