{% load sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  {% block head %}{% endblock %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/mathtex-script-type.min.js" defer></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'usz.css' %}">
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  {% block "css" %}{% endblock "css" %}
  {% render_block "css" %}
</head>

<body>
  {% include 'navbar.html' %}

  {% block content %}
  {% endblock content %}

  {% include 'footer.html' %}

  <!-- Javascript -->
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  {% block "js" %}{% endblock "js" %}
  {% render_block "js" %}
</body>
</html>
