{% load static %}

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="media">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-code-branch"></i>
              </span>
            </figure>
            <div class="media-content">
              <p>Website Version {{ VERSION }}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="level-right">
        <div class="level-item ml-6">
          <div class="media">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-stethoscope"></i>
              </span>
            </figure>
            <div class="media-content">
              <p>University Hospital Zurich</p>
              <p>Radiation Oncology</p>
            </div>
          </div>
        </div>

        <div class="level-item ml-6">
          <div class="media">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-map-marker-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <p>Sonneggstrasse 12</p>
              <p>8006 Zurich, Switzerland</p>
            </div>
          </div>
        </div>

        <div class="level-item ml-6">
          <div class="media">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-envelope"></i>
              </span>
            </figure>
            <div class="media-content">
              <p>Contact:</p>
              <a href="mailto:{{ ADMIN_EMAIL }}" title="contact admin">{{ ADMIN_EMAIL }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
