{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block head %}
{% include 'head_content.html' with title="LyProX · Lymphatic Progression eXplorer" %}
{% endblock head %}

{% block content %}

<!-- Hero / banner with logo -->
<section class="hero is-primary has-background-primary-light">
  <div class="container">
    <div class="hero-body px-0">
      <div class="columns">
        <div class="column is-3">
          <figure class="image is-fullwidth">
            <img src="{% static 'logo.svg' %}?v={{ VERSION }}" alt="LyProX logo">
          </figure>
        </div>

        <div class="column is-1 is-hidden-touch"></div>

        <div class="column">
          <h1 class="title is-2 has-text-danger has-text-weight-normal">
            <span class="has-text-weight-bold">Ly</span>mphatic <span class="has-text-weight-bold">Pro</span>
            gressione<span class="has-text-weight-bold">X</span>plorer
          </h1>
          <h2 class="subtitle is-4 has-text-primary">
            Collecting, sharing, and visualizing data on patterns
            <br>
            of lymphatic progression in head and neck cancer
          </h2>
        </div>

        <div class="column is-1 is-hidden-touch"></div>
      </div>
    </div>
  </div>
</section>

<!-- Introduction with images -->
<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <div class="box">
          <h1 class="title">The Purpose of LyProX</h1>
          <h2 class="subtitle">Understanding lymphatic tumor progression in head and neck cancer</h2>
          <p class="block">
            LyProX is designed to collect, share, and visualize data on lymphatic metastases in head and neck
            squamous cell carcinomas. By providing detailed insights into progression patterns, it aims to
            support researchers and clinicians in working towards more personalized elective nodal treatments.
          </p>
        </div>

        <div class="box is-height-100">
          <h1 class="title">Personalizing Treatment Planning</h1>
          <h2 class="subtitle">Quantifying individual risk for better decision-making</h2>
          <p class="block">
            Current clinical guidelines (e.g. by
            <a href="https://doi.org/10.1016/j.radonc.2019.01.018">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-file-alt"></i>
                </span>
                <span>Biau et al.</span>
              </span>
            </a>
            ) for the elective nodal clinical target volume (CTV-N) in head and
            neck cancer are mostly based on the prevalence of involvement in any given lymph node level (LNL).
            However, patients with vastly different states of lymphatic spread are often treated the same way.
          </p>
          <p class="block">
            The basis for a more personalized approach is the quantification of individual risk for lymphatic
            metastases. This, in turn, requires a comprehensive understanding of the detailed patterns of lymphatic
            spread. LyProX aims to provide this understanding by collecting and visualizing such data.
          </p>
        </div>
      </div>
      <div class="column is-1"></div>
      <div class="column is-4">
        <figure class="image is-4by6">
          <img src="{% static 'lymph-system-schematic.png' %}?v={{ VERSION }}" alt="Schematic of the lymphatic system">
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <figure class="image is-2by1">
          <img src="{% static 'dashboard-screenshot.png' %}?v={{ VERSION }}" alt="Screenshot of the LyProX dashboard">
        </figure>
      </div>
      <div class="column is-1"></div>
      <div class="column">
        <div class="box is-height-100">
          <h1 class="title">Interactive Data Exploration</h1>
          <h2 class="subtitle">Hypothesis generation through visualization</h2>
          <p class="block">
            With an intuitive interface, LyProX allows users to explore datasets of lymphatic progression patterns
            interactively. For each patient in the different cohorts, it stores in which LNLs metastases were found
            using different diagnostic modalities or pathological assessments after a neck dissection.
          </p>
          <p class="block">
            This detailed per-patient and per-level information can then be filtered and aggregated in the
            <a href="{% url 'dataexplorer:dashboard' %}">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-chart-bar"></i>
                </span>
                <span>dashboard</span>
              </span>
            </a>. For example, one may be interested in
            the correlation between contralateral involvement and the lateralization of the primary tumor. Or how
            much more likely downstream levels are to be involved if upstream levels are affected.
          </p>
          <p class="block">
            Making the data interactively explorable fosters hypothesis generation and encourages further research
            into lymphatic spread patterns. Also, the data may be downloaded as a
            <a href="{% url 'dataexplorer:table' page_idx=1 %}">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-table"></i>
                </span>
                <span>CSV table</span>
              </span>
            </a>
            or fetched from our
            <a href="https://github.com/rmnldwg/lydata">
              <span class="icon-text">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>data repository</span>
              </span>
            </a>
            for further analysis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <div class="box is-height-100">
          <h1 class="title">
            Statistical Models of Progression
          </h1>
          <h2 class="subtitle">
            Predicting lymphatic spread patterns using machine learning
          </h2>
          <p class="block">
            After pulishing our first datasets, we started working on
            <a href="#publications">
              <span class="icon-text">
                <span class="icon">
                  <i class="fa fa-file-alt"></i>
                </span>
                <span>probabilistic models</span>
              </span>
            </a>
            of lymphatic tumor progression
            These interpretable hidden Markov models (HMMs) are trained on the data published in LyProX and
            accurately predict the risk of occult disease in any LNL, given a new patient's diagnosis.
          </p>
      </div>
    </div>
    <div class="column is-1"></div>
    <div class="column is-3">
      <figure class="image">
        <img src="{% static 'lymph-graph-schematic.png' %}?v={{ VERSION }}" alt="Schematic of the lymphatic graph">
      </figure>
    </div>
    <div class="column is-1"></div>
  </div>
</section>

<!-- lycosystem -->
<section class="section pt-0">
  <div class="container">
    <h1 class="title is-2">
      <span class="has-text-danger">ly</span><span class="has-text-primary">cosystem</span>
    </h1>
    <h2 class="subtitle is-4">
      An ecosystem of tools, websites, and data repositories
      <br>
      for lymphatic tumor progression research
    </h2>

    <div class="grid">
      {% for repo in lycosystem_repos %}
      <div class="cell">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-family-monospace">{{ repo.owner }}/{{ repo.name }}</p>
          </header>
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="{{ repo.social_card_url }}" alt="Github social card for {{ repo.name }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              {{ repo.description }}
            </div>
          </div>
          <div class="card-footer">
            <a href="{{ repo.url }}" class="card-footer-item">
              <span class="icon-text">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
              </span>
            </a>
            <a href="{{ repo.docs_url }}" class="card-footer-item">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-book"></i>
                </span>
                <span>Docs</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Publications -->
<section class="section">
  <div class="container">
    <h1 id="publications" class="title">Our Publications</h1>
    <h2 class="subtitle">
      Published papers on datasets and models of lymphatic tumor progression
    </h2>

    <div class="grid is-col-min-24">
      {% for pub in publications %}
      <div class="cell">
        <div class="box is-height-100">
          <div class="media">
            <div class="media-left">
              <a href="https://doi.org/{{ pub.doi }}" target="_blank" class="title has-text-link">[{{ forloop.counter }}]</a>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <!-- journal -->
                  <span class="icon-text has-text-grey">
                    <span class="icon">
                      <i class="fas fa-book"></i>
                    </span>
                    <span>
                      <em>{{ pub.journal }}</em> <strong>{{ pub.volume }}</strong> ({{ pub.year }})
                    </span>
                  </span><br>
                  <!-- authors -->
                  {% for author in pub.authors %}
                  {% if author.orcid %}
                  <a class="icon-text has-text-grey" href={{ author.orcid }} target="_blank">
                    <span class="icon">
                      <i class="fab fa-orcid"></i>
                    </span>
                    <span>{{ author.short_name }}{% if not forloop.last %}, {% endif %}</span>
                  </a>
                  {% else %}
                  <span class="icon-text has-text-grey">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>{{ author.short_name }}{% if not forloop.last %}, {% endif %}</span>
                  </span>
                  {% endif %}
                  {% endfor %}
                </p>
                <p>
                  <!-- title -->
                  <span class="title is-5">{{ pub.title }}</span>
                </p>
              </div>
            </div>
            <div class="media-right">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-quote-right"></i>
                </span>
                <span>{{ pub.num_citations }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
