{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block head %}
{% include 'head_content.html' with title="LyProX · Lymphatic Progression eXplorer" %}
{% endblock head %}

{% block content %}
<div class="hero is-primary has-background-primary-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <figure class="image is-fullwidth">
            <img src="{% static 'logo.svg' %}" alt="LyProX logo">
          </figure>
        </div>

        <div class="column is-1 is-hidden-touch"></div>

        <div class="column">
          <h1 class="title is-2 has-text-danger">
            <b>Ly</b>mphatic <b>Pro</b>gression e<b>X</b>plorer
          </h1>
          <p class="subtitle is-4 has-text-primary">
            Collecting, sharing, and visualizing data on the lymphatic progression
            patterns in head and neck cancer.
          </p>
        </div>

        <div class="column is-1 is-hidden-touch"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="content">
      {% include_md 'index.md' %}
    </div>
    {% if IS_FROZEN %}
    <div class="notification is-warning is-light">
      <strong>Note:</strong> You are looking at version {{ VERSION }} of the
      interface, which is frozen to serve as a reference for readers of our
      recent publication. If you want to use the latest version of this website
      that we try to continually develop and improve, click
      <a href="https://www.lyprox.org">
        <span class="icon">
          <i class="fas fa-external-link-alt"></i>
        </span>
        here.
      </a>
    </div>
    {% endif %}
  </div>
</section>

<!-- Publications -->
<section class="section">
  <div class="container">
    <h1 class="title" id="publications">Publications</h1>

    <!-- Data-related papers USZ -->
    {% include 'publications/datasets.html' %}

    <!-- CLB paper -->
    {% include 'publications/clb.html' %}

    <!-- Modelling papers -->
    {% include 'publications/modelling.html' %}

    <div class="box">
      <p class="block is-size-5">
        A review paper summarizing how models of tumor progression may support CTV definition:
      </p>
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img class="is-rounded is-outlined" src="{% static 'budapest-paper.png' %}" alt="paper icon">
          </figure>
        </div>
        <div class="media-content">
          <p>
            Jan Unkelbach, Thomas Bortfeld, Carlos E. Cardenas, Vincent Gregoire, Wille
            Hager, Ben Heijmen, Robert Jeraj, Stine S. Korreman, Roman Ludwig, Bertrand
            Pouymayou, Nadya Shusharina, Jonas Söderberg, Iuliana Toma-Dasu, Esther G.C.
            Troost, Eliana Vasquez Osorio;
            <br>
            <strong class="has-text-secondary">The role of computational methods for
            automating and improving clinical target volume definition,</strong>
            <br>
            <em>Radiotherapy and Oncology</em> <strong>153,</strong> 15-25 (2020)
            <a href="https://doi.org/10.1016/j.radonc.2020.10.002" target="_blank">https://doi.org/10.1016/j.radonc.2020.10.002</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
