{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block head %}
{% include 'head_content.html' with title="LyProX · Lymphatic Progression eXplorer" %}
{% endblock head %}

{% block content %}

<!-- Hero / banner with logo -->
{% include 'index/hero.html' %}

<!-- Introduction with images -->
<section class="section">
  <div class="container">
    {% include 'index/intro.html' %}
  </div>
</section>

<section class="section">
  <div class="container">
    {% include 'index/interactive.html' %}
  </div>
</section>

<section class="section">
  <div class="container">
    {% include 'index/models.html' %}
  </div>
</section>

<!-- lycosystem -->
<section class="section pt-0">
  <div class="container">
    {% include 'index/lycosystem.html' with repos=lycosystem_repos %}
  </div>
</section>

<!-- Publications -->
<section class="section">
  <div class="container">
    {% include 'index/publications.html' with publications=publications %}
  </div>
</section>
{% endblock content %}
