{% load sekizai_tags %}
{% load static %}

{% addtoblock "js" %}
<script src="{% static 'navbar.js' %}"></script>
{% endaddtoblock %}

<nav class="navbar is-fixed-top is-primary" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'index' %}" title="home">
        <img src="{% static 'logo-white.svg' %}" alt="LyProX Logo">
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <!--
          Iterate through all `navbar_apps` in the context and get their respective
          `navbar.html` template. This allows for easy customization of the navbar.
        -->
        {% for app in navbar_apps %}
        {% with template_name=app|add:'/navbar.html' %}
        {% include template_name %}
        {% endwith %}
        {% endfor %}
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <div class="control">
              {% if user.is_authenticated %}
              <div class="buttons has-addons">
                <div class="button has-background-white has-text-primary is-outlined">
                  <span class="icon-text">
                    <span class="icon mr-2">
                      <img src="{{ user.institution.logo.url }}" alt="{{ user.institution.shortname }} logo">
                    </span>
                    <span>{{ user }}</span>
                  </span>
                </div>
                <a href="{% url 'accounts:logout' %}" class="button is-outlined" title="logout">
                  <span>Log out</span>
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                </a>
              </div>
              {% else %}
              <a href="{% url 'accounts:login' %}" class="button has-background-white has-text-primary" title="login">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Log in</span>
              </a>
              {% endif %}
            </div>
            <div class="control">
              <div class="dropdown is-hoverable is-right">
                <div class="dropdown-trigger">
                  <div class="buttons has-addons">
                    <a href="https://github.com/rmnldwg/lyprox" target="_blank" title="Source code on GitHub"
                      class="button is-outlined has-background-white has-text-primary has-tooltip-bottom">
                      <span class="icon">
                        <i class="fab fa-lg fa-github"></i>
                      </span>
                    </a>
                    <button class="button is-outlined">
                      <span>v{{ VERSION }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
