{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USZ Lymph Interface</title>
</head>

<body>
    <header>
        <img src="{% static 'usz-uzh-logo.png' %}">
    </header>

    <section>
        {% block content %}
        {% endblock content %}
    </section>

    <footer>
        <ul>
            <li>University Hospital Zurich</li>
            <li>Departement of Radiation Oncology</li>
            <li>Rämistrasse 100, 8091 Zürich</li>
            <li><a href="mailto:roman.ludwig@usz.ch">roman.ludwig@usz.ch</a></li>
        </ul>
    </footer>
</body>
</html>