<footer class="footer is-fullheight">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-hospital"></i>
                    </span>
                    <span>University Hospital Zurich</span>
                </span>
            </div>
            <div class="column has-text-centered">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-stethoscope"></i>
                    </span>
                    <span>Departement of Radiation Oncology</span>
                </span>
            </div>
            <div class="column has-text-centered">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>Rämistrasse 100, 8091 Zürich</span>
                </span>
            </div>
            <div class="column has-text-centered">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <a href="mailto:roman.ludwig@usz.ch">roman.ludwig@usz.ch</a>
                </span>
            </div>
        </div>
    </div>
</footer>