{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'usz.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/c702fb8f68.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web app for exploring patterns and correlations in data of lymph node level involvements from head & neck cancer patients.">
    <title>LyProX - Lymphatic Progression eXplorer</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
