{% load static %}

<nav class="navbar is-fixed-top is-primary" role="navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'logo-white.svg' %}" alt="LyProX Logo">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{% url 'patients:list' %}" class="navbar-item">
                    List
                </a>
                <a href="{% url 'patients:create' %}" class="navbar-item">
                    Create
                </a>

                <a href="{% url 'patients:upload' %}" class="navbar-item">
                    Upload
                </a>

                <a href="{% url 'patients:download' %}" class="navbar-item">
                    Download
                </a>

                <a href="{% url 'patients:dashboard' %}" class="navbar-item">
                    Dashboard
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <div class="control">
                            {% if user.is_authenticated %}
                            <a href="{% url 'accounts:logout' %}" class="button is-primary is-inverted is-outlined">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Log out</span>
                            </a>
                            {% else %}
                            <a href="{% url 'accounts:login' %}" class="button is-primary is-inverted is-outlined">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Log in</span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="control">
                            <a href="https://github.com/rmnldwg/lymph-interface" target="_blank"
                                class="button is-primary is-inverted has-tooltip-bottom" data-tooltip="source code on GitHub">
                                <span class="icon">
                                    <i class="fab fa-lg fa-github"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>