@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css";

:root {
    --bulma-primary-h: 206deg;
    --bulma-primary-l: 33%;
    --bulma-link-h: 206deg;
    --bulma-link-l: 33%;
    --bulma-info-h: 196deg;
    --bulma-info-s: 23%;
    --bulma-info-l: 82%;
    --bulma-success-h: 177deg;
    --bulma-success-s: 100%;
    --bulma-success-l: 34%;
    --bulma-warning-h: 30deg;
    --bulma-warning-l: 47%;
    --bulma-danger-h: 327deg;
    --bulma-danger-l: 34%;
}
