<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' with title="500 · Error" %}

    <body>
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5">
                        <div class="notification is-danger">
                            <p class="title is-1">
                                500
                                <i class="fas fa-exclamation-triangle"></i>
                            </p>
                            <p class="subtitle is-3">Server error</p>
                            <p>
                                Sorry, something isn't working right on our side. Check back later
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
