{% load static %}

<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-code-branch"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <p>Website Version {{ VERSION }} {% if IS_FROZEN %}(frozen){% endif %}</p>
                            {% if IS_FROZEN %}
                            <a href="https://www.lyprox.org">
                                <span class="icon-text">
                                    <span class="icon" style="width: 1rem;">
                                        <i class="fas fa-arrow-alt-circle-up"></i>
                                    </span>
                                    <span>Go to latest version</span>
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="level-right">
                <div class="level-item ml-6">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-stethoscope"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <p>University Hospital Zurich</p>
                            <p>Radiation Oncology</p>
                        </div>
                    </div>
                </div>

                <div class="level-item ml-6">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-map-marker-alt"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <p>Sonneggstrasse 12</p>
                            <p>8006 Zurich, Switzerland</p>
                        </div>
                    </div>
                </div>

                <div class="level-item ml-6">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-envelope"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <p>Contact:</p>
                            <a href="mailto:roman.ludwig@usz.ch" title="contact admin">roman.ludwig@usz.ch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
