{% extends 'base.html' %}
{% load static %}
{% load mytags %}

{% block head %}
{% include 'head.html' with title="LyProX · Lymphatic Progression eXplorer" %}
{% endblock head %}


{% block content %}
<div class="hero is-primary has-background-primary-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <figure class="image is-fullwidth">
                        <img src="{% static 'logo.svg' %}" alt="LyProX logo">
                    </figure>
                </div>

                <div class="column is-1"></div>

                <div class="column">
                    <h1 class="title is-2 has-text-danger">
                        <b>Ly</b>mphatic <b>Pro</b>gression e<b>X</b>plorer
                    </h1>
                    <p class="subtitle is-4 has-text-primary">
                        Welcome to our online interface with which we aim to visualize the patterns of lymphatic progression in head and neck squamous cell carcinoma.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="content">
            {% include_md 'index.md' %}
        </div>
        {% if IS_FROZEN %}
        <div class="notification is-warning is-light">
            <strong>Note:</strong> You are looking at version {{ VERSION }} of the
            interface, which is frozen to serve as a reference for readers of our
            recent publication. If you want to use the latest version of this website
            that we try to continually develop and improve, click
            <a href="https://www.lyprox.org">
                <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                </span>
                here.
            </a>
        </div>
        {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Features</h1>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <a href="{% url 'dashboard:dashboard' %}" class="tile is-child notification is-primary is-light">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-large">
                                <i class="fas fa-2x fa-chart-pie"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <h2 class="title is-4">Dashboard</h2>
                            <p>
                                Interactive page that aggregates information on all patient's lymphatic metastatic involvement in a visual and
                                intuitive dashboard. Here, one can explore correlations between involvements of different lymph node levels as well
                                as estimate the impact of various risk factors on nodal involvement.
                            </p>
                        </div>
                        <div class="media-right">
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="{% url 'patients:list' %}" class="tile is-child notification is-primary is-light">
                    <div class="media">
                        <figure class="media-left">
                            <p class="icon is-large">
                                <i class="fas fa-2x fa-th-list"></i>
                            </p>
                        </figure>
                        <div class="media-content">
                            <h2 class="title is-4">List of patients</h2>
                            <p>
                                Look at a table of all the patients in the database. This view can be filtered for different patient-specific
                                properties like age, date of diagnosis, TNM stage and more. Via the patient list, all patient-individual
                                information is accessible.
                            </p>
                        </div>
                        <div class="media-right">
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="tile is-parent is-vertical">
                <a href="{% url 'patients:download' %}" class="tile is-child notification is-primary is-light">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-large">
                                <i class="fas fa-2x fa-cloud-download-alt"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <h2 class="title is-4">Export database </h2>
                            <p>
                                Download a CSV table of all patients in the database. This table can also be used as a template for uploading a
                                batch of patients, as it has the required format for uploading.
                            </p>
                        </div>
                        <div class="media-right">
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="{% url 'patients:create' %}" class="tile is-child notification is-primary is-light">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-large">
                                <i class="fas fa-2x fa-user-plus"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <h2 class="title is-4">Create new patient *</h2>
                            <p>
                                Manually add a new patient to the database using a pre-defined form.
                            </p>
                        </div>
                        <div class="media-right">
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </div>
                    </div>
                </a>

                <a href="{% url 'patients:upload' %}" class="tile is-child notification is-primary is-light">
                    <div class="media">
                        <figure class="media-left">
                            <span class="icon is-large">
                                <i class="fas fa-2x fa-cloud-upload-alt"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <h2 class="title is-4">Upload patients *</h2>
                            <p>
                                Add a batch of patients to the database via a CSV table of a specific format.
                            </p>
                        </div>
                        <div class="media-right">
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <p class="has-text-right has-text-danger has-text-weight-bold is-italic">
            * login required
        </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Publications</h1>

        <div class="box">
            <p class="block is-size-5">
                The publications below describe the data we extracted at our hospital and also the purpose and use of this interface.
            </p>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="{% static 'data-paper.png' %}" alt="paper icon">
                    </figure>
                </div>
                <div class="media-content">
                    <p>
                        Roman Ludwig*, Jean-Marc Hoffmann*, Bertrand Pouymayou*, Grégoire Morand, Martina Däppen, Matthias Guckenberger, Vincent Grégoire, Panagiotis Balermpas, Jan Unkelbach; *<em>These authors contributed equally to this work</em>
                        <br>
                        <strong class="has-text-secondary">
                            Detailed patient-individual reporting of lymph node involvement in oropharyngeal squamous cell carcinoma with an online interface,
                        </strong>
                        <br>
                        Radiotherapy and Oncology, Feb. 2022, DOI: <a href="https://doi.org/10.1016/j.radonc.2022.01.035">10.1016/j.radonc.2022.01.035</a>
                        <br>
                        Preprint available also on <a href="https://www.medrxiv.org/content/10.1101/2021.12.01.21267001v1">medRxiv</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="{% static 'data-in-brief.png' %}" alt="repo icon">
                    </figure>
                </div>
                <div class="media-content">
                    <p>
                        Roman Ludwig*, Jean-Marc Hoffmann*, Bertrand Pouymayou*, Grégoire Morand, Martina Däppen, Matthias Guckenberger, Vincent Grégoire, Panagiotis Balermpas, Jan Unkelbach; *<em>These authors contributed equally to this work</em>
                        <br>
                        <strong class="has-text-secondary">
                            A dataset on patient-individual lymph node involvement in oropharyngeal squamous cell carcinoma,
                        </strong>
                        <br>
                        <span class="has-text-danger">Submitted to Data in Brief</span>
                    </p>
                </div>
            </div>

            <span></span>

            <div class="media notification is-warning is-light mt-5 mb-0">
                <div class="media-left">
                    <figure class="icon">
                        <i class="fas fa-lg fa-exclamation-triangle"></i>
                    </figure>
                </div>
                <div class="media-content">
                    These publications refer to LyProX at a specific point in time. That particular version of the interface is available <a href="https://2021-oropharynx.lyprox.org">here</a>.
                </div>
            </div>

            <span></span>

            <div class="media notification is-primary is-light mt-3">
                <div class="media-left">
                    <figure class="icon">
                        <i class="fab fa-lg fa-github"></i>
                    </figure>
                </div>
                <div class="media-content">
                    The data is also hosted in a GitHub repository called <a href="https://github.com/rmnldwg/lydata"><code>lyDATA</code></a>.
                </div>
            </div>
        </div>

        <div class="box">
            <p class="block is-size-5">
                Our publications on statistical models of lymphatic progression for estimating the probability of occult metastases
                in lymph node levels. These models can be trained using data like the one we present here.
            </p>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="{% static 'hmm-paper.png' %}" alt="paper icon">
                    </figure>
                </div>
                <div class="media-content">
                    <p>
                        Roman Ludwig, Bertrand Pouymayou, Panagiotis Balermpas, Jan Unkelbach;
                        <br>
                        <strong class="has-text-secondary">
                            A hidden Markov model for lymphatic tumor progression in the head and neck,
                        </strong>
                        <br>
                        <em>Sci Rep</em> <strong>11,</strong> 12261 (2021)
                        <a href="https://doi.org/10.1038/s41598-021-91544-1" target="_blank">https://doi.org/10.1038/s41598-021-91544-1</a>
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="{% static 'bn-paper.png' %}" alt="paper icon">
                    </figure>
                </div>
                <div class="media-content">
                    <p>
                        Bertrand Pouymayou, Panagiotis Balermpas, Oliver Riesterer, Matthias Guckenberger, Jan Unkelbach;
                        <br>
                        <strong class="has-text-secondary">
                            A Bayesian network model of lymphatic tumor progression for personalized elective CTV definition in head and neck
                            cancers,
                        </strong>
                        <br>
                        <em>Phys. Med. Biol.</em> <strong>64,</strong> 165003 (2019)
                        <a href="https://doi.org/10.1088/1361-6560/ab2a18" target="_blank">https://doi.org/10.1088/1361-6560/ab2a18</a>
                    </p>
                </div>
            </div>

            <span></span>

            <div class="media notification is-primary is-light mt-5">
                <div class="media-left">
                    <figure class="icon">
                        <i class="fab fa-lg fa-github"></i>
                    </figure>
                </div>
                <div class="media-content">
                    You can find the underlying python code for these models in another GitHub repository named <a href="https://github.com/rmnldwg/lymph"><code>lymph</code></a>.
                    The documentation is provided on <a href="https://lymph-model.readthedocs.io">readthedocs</a>.
                </div>
            </div>
        </div>

        <div class="box">
            <p class="block is-size-5">
                A review paper summarizing how models of tumor progression may support CTV definition:
            </p>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img class="is-rounded is-outlined" src="{% static 'budapest-paper.png' %}" alt="paper icon">
                    </figure>
                </div>
                <div class="media-content">
                    <p>
                        Jan Unkelbach, Thomas Bortfeld, Carlos E. Cardenas, Vincent Gregoire, Wille Hager, Ben Heijmen, Robert Jeraj, Stine S.
                        Korreman, Roman Ludwig, Bertrand Pouymayou, Nadya Shusharina, Jonas Söderberg, Iuliana Toma-Dasu, Esther G.C. Troost,
                        Eliana Vasquez Osorio;
                        <br>
                        <strong class="has-text-secondary">
                            The role of computational methods for automating and improving clinical target volume definition,
                        </strong>
                        <br>
                        <em>Radiotherapy and Oncology</em> <strong>153,</strong> 15-25 (2020)
                        <a href="https://doi.org/10.1016/j.radonc.2020.10.002"
                            target="_blank">https://doi.org/10.1016/j.radonc.2020.10.002</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
