{% extends 'base.html' %}
{% load static %}
{% load mytags %}

{% block head %}
{% include 'head.html' with title="LyProX · Verions" %}
{% endblock head %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                {% for version in versions %}
                <div class="box">
                    <h2 class="title is-5">{{ version.title }}</h2>
                    <p>{{ version.info }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}