{% load mytags %}

<td class="barplot-tablecell">
    <div class="tags has-addons">
            <span class="tag barplot-legend is-danger is-light"
                  data-tooltip="{{ stat|index:1 }} of {{ stat|sum }} ({{ stat|percent:1 }}%) patients have metastases in LNL {{ lnl }}">
                {% if show_percent %}
                {{ stat|percent:1 }}%
                {% else %}
                {{ stat|index:1 }}
                {% endif %}
            </span>
            <span class="tag barplot has-text-white is-flex is-flex-grow-1"
                  data-tooltip="{{ stat|index:0 }} of {{ stat|sum }} ({{ stat|percent:0 }}%) patients have unknown involvement in LNL {{ lnl }}"
                  style="background-size: {{ stat|bar:'1,100' }}% 100%, calc({{ stat|bar:'1,100' }}% + {{ stat|bar:'0,100' }}%) 100%, 100% 100%;">
                {% if stat|index:0 > 0 %}
                    {% if show_percent %}
                    {{ stat|percent:0 }}%
                    {% else %}
                    {{ stat|index:0 }}
                    {% endif %}
                {% endif %}
            </span>
            <span class="tag barplot-legend is-success is-light"
                  data-tooltip="{{ stat|index:-1 }} of {{ stat|sum }} ({{ stat|percent:-1 }}%) patients do not have metastases in LNL {{ lnl }}">
                {% if show_percent %}
                {{ stat|percent:-1 }}%
                {% else %}
                {{ stat|index:-1 }}
                {% endif %}
            </span>
    </div>
</td>
