{% load static %}
{% load mytags %}

<div class="box {{ side }} {{ position }} notification is-info">
    <div class="media">
        {% if image %}
        <div class="media-left">
            <figure class="image is-128x128">
                <img src="{% static image %}" alt="help image">
            </figure>
        </div>
        {% endif %}
        <div class="media-content">
            <div class="content">
                {% include_md markdown %}
            </div>
        </div>
    </div>
</div>