<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    {% include 'head.html' with title="LyProX · Dashboard" %}

    {% load mytags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">


    <body>
        {% include 'navbar.html' %}

        <form method="GET" action="{% url 'dashboard:dashboard' %}" name="dashboardform">
            <section class="section">

                <div class="tile is-ancestor">
                    <div class="tile is-3 is-vertical is-parent">

                        <!-- Patient details -->
                        {% include 'dashboard/filter/patient.html' with form=form %}

                        <!-- Primary tumor -->
                        {% include 'dashboard/filter/tumor.html' with form=form %}
                    </div>

                    <div class="tile is-9 is-vertical">
                        <div class="tile is-parent is-vertical">

                            <!-- Datasets -->
                            {% include 'dashboard/filter/datasets.html' with form=form %}

                            <!-- Modalities -->
                            {% include 'dashboard/filter/modalities.html' with form=form %}
                        </div>

                        <!-- Involvement prevalence -->
                        <div class="tile">
                            <!-- contralateral -->
                            {% include 'dashboard/involvement.html' with form=form side='contra' %}

                            <!-- ipsilateral -->
                            {% include 'dashboard/involvement.html' with form=form side='ipsi' %}
                        </div>

                        <!-- Controls -->
                        {% include 'dashboard/controls.html' with form=form %}
                    </div>
                </div>
            </section>
        </form>

        {% include 'footer.html' %}
    </body>

    <script src="{% static 'dashboard/dashboard.js' %}"></script>

</html>
