<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    {% include 'head.html' with title="LyProX · Dashboard" %}

    {% load mytags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">


    <body>
        {% include 'navbar.html' %}

        <form method="GET" action="{% url 'dashboard:dashboard' %}" name="dashboardform">
            <section class="section">

                <div class="tile is-ancestor">
                    <div class="tile is-3 is-vertical is-parent">

                        <!-- Patient details -->
                        <div class="tile is-child box">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <p class="title is-4">Patient details</p>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <div class="tooltip">
                                            <span class="icon">
                                                <i class="fas fa-question"></i>
                                            </span>
                                            {% include 'dashboard/help_tooltip.html' with side="right" position="bottom" image='dashboard/toggle.gif' html='dashboard/help_patient.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column">
                                    {{ form.nicotine_abuse }}
                                    {% include 'dashboard/three_way_toggle_stats.html' with stat=stats.nicotine_abuse show_percent=show_percent %}

                                    {{ form.hpv_status }}
                                    {% include 'dashboard/three_way_toggle_stats.html' with stat=stats.hpv_status show_percent=show_percent %}
                                </div>

                                <div class="column">
                                    {{ form.neck_dissection }}
                                    {% include 'dashboard/three_way_toggle_stats.html' with stat=stats.neck_dissection show_percent=show_percent %}

                                    {{ form.n_status }}
                                    {% include 'dashboard/three_way_toggle_stats.html' with stat=stats.n_status show_percent=show_percent %}
                                </div>
                            </div>
                        </div>

                        <!-- Primary tumor -->
                        <div class="tile is-child box">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <p class="title is-4">Primary tumor</p>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <div class="tooltip">
                                            <span class="icon">
                                                <i class="fas fa-question"></i>
                                            </span>
                                            {% include 'dashboard/help_tooltip.html' with side="right" position="bottom" image='dashboard/subsite_t-stage.gif' markdown='dashboard/help_tumor.md' %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns is-multiline">
                                <div class="column">
                                    {{ form.central }}
                                    {% include 'dashboard/three_way_toggle_stats.html' with stat=stats.central show_percent=show_percent %}
                                </div>

                                <div class="column">
                                    {{ form.extension }}
                                    {% include 'dashboard/three_way_toggle_stats.html' with stat=stats.extension show_percent=show_percent %}
                                </div>
                            </div>

                            <p class="title is-5 mb-2">Location & Subsite</p>
                            <div class="notification is-info is-light p-2 mb-2">
                                <div class="field is-grouped is-grouped-multiline">
                                    <p class="control">Oropharynx:</p>
                                    {% for checkbox in form.subsite_oropharynx %}
                                    <div class="control mr-1">
                                        {{ checkbox.tag }}
                                        <div class="tags has-addons">
                                            <label for="{{ checkbox.id_for_label }}" class="tag button is-primary is-light is-expanded">
                                                <span>{{ checkbox.choice_label }}</span>
                                            </label>
                                            <p class="tag button is-static">
                                                {% with counter=forloop.counter0|add:0 %}
                                                {% if show_percent %}
                                                <span>{{ stats.subsites|percent:counter }}%</span>
                                                {% else %}
                                                <span>{{ stats.subsites|index:counter }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="notification is-info is-light p-2 mb-2">
                                <div class="field is-grouped is-grouped-multiline">
                                    <p class="control">Hypopharynx:</p>
                                    {% for checkbox in form.subsite_hypopharynx %}
                                    <div class="control mr-1">
                                        {{ checkbox.tag }}
                                        <div class="tags has-addons">
                                            <label for="{{ checkbox.id_for_label }}" class="tag button is-primary is-light is-expanded">
                                                <span>{{ checkbox.choice_label }}</span>
                                            </label>
                                            <p class="tag button is-static">
                                                {% with counter=forloop.counter0|add:3 %}
                                                {% if show_percent %}
                                                <span>{{ stats.subsites|percent:counter }}%</span>
                                                {% else %}
                                                <span>{{ stats.subsites|index:counter }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="notification is-info is-light p-2 mb-2">
                                <div class="field is-grouped is-grouped-multiline">
                                    <p class="control">Larynx:</p>
                                    {% for checkbox in form.subsite_larynx %}
                                    <div class="control mr-1">
                                        {{ checkbox.tag }}
                                        <div class="tags has-addons">
                                            <label for="{{ checkbox.id_for_label }}" class="tag button is-primary is-light is-expanded">
                                                <span>{{ checkbox.choice_label }}</span>
                                            </label>
                                            <p class="tag button is-static">
                                                {% with counter=forloop.counter0|add:4 %}
                                                {% if show_percent %}
                                                <span>{{ stats.subsites|percent:counter }}%</span>
                                                {% else %}
                                                <span>{{ stats.subsites|index:counter }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="notification is-info is-light p-2 mb-2">
                                <div class="field is-grouped is-grouped-multiline">
                                    <p class="control">Oral cavity:</p>
                                    {% for checkbox in form.subsite_oral_cavity %}
                                    <div class="control mr-1">
                                        {{ checkbox.tag }}
                                        <div class="tags has-addons">
                                            <label for="{{ checkbox.id_for_label }}" class="tag button is-primary is-light is-expanded">
                                                <span>{{ checkbox.choice_label }}</span>
                                            </label>
                                            <p class="tag button is-static">
                                                {% with counter=forloop.counter0|add:6 %}
                                                {% if show_percent %}
                                                <span>{{ stats.subsites|percent:counter }}%</span>
                                                {% else %}
                                                <span>{{ stats.subsites|index:counter }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <p class="title is-5 mb-2 mt-4">T-stage</p>
                            <div class="field is-grouped is-grouped-multiline">
                                {% for checkbox in form.t_stage__in %}
                                <div class="control is-expanded">
                                    {{ checkbox.tag }}
                                    <div class="buttons has-addons">
                                        <label for="{{ checkbox.id_for_label }}" class="button is-primary is-light is-expanded">
                                            <span>{{ checkbox.choice_label }}</span>
                                        </label>
                                        <div class="button is-info is-static">
                                            {% if show_percent %}
                                            <span>{{ stats.t_stages|percent:forloop.counter0 }}%</span>
                                            {% else %}
                                            <span>{{ stats.t_stages|index:forloop.counter0 }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                {% if forloop.counter == 2 %}
                            </div>
                            <div class="field is-grouped is-grouped-multiline">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tile is-9 is-vertical">
                        <div class="tile is-parent is-vertical">

                            <!-- Insitutions -->
                            <div class="tile is-child box">
                                <div class="columns">
                                    <div class="column is-2 is-flex is-flex-direction-row is-justify-content-left is-align-items-center">
                                        <p id="institutions-title" class="title is-4">Institutions</p>
                                    </div>

                                    <div class="column is-8">
                                        <div class="field is-grouped is-grouped-multiline">
                                            {% for checkbox in form.institution__in %}
                                            {% with idx=forloop.counter0 %}
                                            {% with name_and_url=form.institution__in.field.names_and_urls|index:idx %}
                                            <div class="control">
                                                {{ checkbox.tag }}
                                                <div class="buttons has-addons for-institutions">
                                                    <label for="{{ checkbox.id_for_label }}" class="button is-primary is-light is-expanded px-5" data-tooltip="{{ name_and_url.0 }}">
                                                        <span class="icon">
                                                            <img src="{{ name_and_url.1 }}" alt="{{ name_and_url.0 }} logo">
                                                        </span>
                                                    </label>
                                                    <div class="button is-info is-static">
                                                        {% if show_percent %}
                                                        <span>{{ stats.institutions|percent:idx }}%</span>
                                                        {% else %}
                                                        <span>{{ stats.institutions|index:idx }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endwith %}
                                            {% endwith %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="column is-2 is-flex is-flex-direction-row is-justify-content-right is-align-items-center">
                                        <div class="tooltip">
                                            <span class="icon">
                                                <i class="fas fa-question"></i>
                                            </span>
                                            {% include 'dashboard/help_tooltip.html' with side="left" position="bottom" image='dashboard/institutions.gif' markdown='dashboard/help_institutions.md' %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modalities -->
                            <div class="tile is-child box">
                                <div class="columns">
                                    <div class="column is-2 is-flex is-flex-direction-row is-justify-content-left is-align-items-center">
                                        <p id="modalities-title" class="title is-4">Modalities</p>
                                    </div>

                                    <div class="column is-8">
                                        <div class="field is-grouped is-grouped-multiline">
                                            {% for checkbox in form.modalities %}
                                            <div class="control is-expanded">
                                            {{ checkbox.tag }}
                                                <label for="{{ checkbox.id_for_label }}" class="button is-primary is-light is-fullwidth">
                                                    {{ checkbox.choice_label }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="column is-2 is-flex is-flex-direction-row is-justify-content-right is-align-items-center">
                                        <div class="select">
                                            {{ form.modality_combine }}
                                        </div>

                                        <div class="tooltip">
                                            <span class="icon ml-2">
                                                <i class="fas fa-question"></i>
                                            </span>
                                            {% include 'dashboard/help_tooltip.html' with side="left" position="bottom" image='dashboard/modalities.gif' markdown='dashboard/help_modalities.md' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Involvement prevalence -->
                        <div class="tile">
                            <!-- contralateral -->
                            <div class="tile is-parent">
                                <div class="tile is-child box">
                                    <div class="level">
                                        <div class="level-item">
                                            <p class="title is-4 has-text-centered">contralateral</p>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                <div class="tooltip">
                                                    <span class="icon">
                                                        <i class="fas fa-question"></i>
                                                    </span>
                                                    {% include 'dashboard/help_tooltip.html' with side="left" position="bottom" image='dashboard/involvement.gif' markdown='dashboard/help_involvement.md' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <tr>
                                                <td colspan="2">LNL</td>
                                                <td class="has-text-centered">select</td>
                                                <td class="has-text-centered">involvement (<span class="has-text-danger">metastatic</span>, <span class="has-text-info">unknown</span>, <span class="has-text-success">healthy</span>)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="3">I</td>
                                                <td>both</td>
                                                <td>{{ form.contra_I }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="I contralateral" stat=stats.contra_I show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>a</td>
                                                <td>{{ form.contra_Ia }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Ia contralateral" stat=stats.contra_Ia show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>b</td>
                                                <td>{{ form.contra_Ib }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Ib contralateral" stat=stats.contra_Ib show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td rowspan="3">II</td>
                                                <td>both</td>
                                                <td>{{ form.contra_II }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="II contralateral" stat=stats.contra_II show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>a</td>
                                                <td>{{ form.contra_IIa }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="IIa contralateral" stat=stats.contra_IIa show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>b</td>
                                                <td>{{ form.contra_IIb }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="IIb contralateral" stat=stats.contra_IIb show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">III</td>
                                                <td>{{ form.contra_III }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="III contralateral" stat=stats.contra_III show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">IV</td>
                                                <td>{{ form.contra_IV }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="IV contralateral" stat=stats.contra_IV show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td rowspan="3">V</td>
                                                <td>both</td>
                                                <td>{{ form.contra_V }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="V contralateral" stat=stats.contra_V show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>a</td>
                                                <td>{{ form.contra_Va }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Va contralateral" stat=stats.contra_Va show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>b</td>
                                                <td>{{ form.contra_Vb }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Vb contralateral" stat=stats.contra_Vb show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">VII</td>
                                                <td>{{ form.contra_VII }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="VII contralateral" stat=stats.contra_VII show_percent=show_percent %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- ipsilateral -->
                            <div class="tile is-parent">
                                <div class="tile is-child box">
                                    <div class="level">
                                        <div class="level-item">
                                            <p class="title is-4 has-text-centered">ipsilateral</p>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                <div class="tooltip">
                                                    <span class="icon">
                                                        <i class="fas fa-question"></i>
                                                    </span>
                                                    {% include 'dashboard/help_tooltip.html' with side="left" position="bottom" image='dashboard/involvement.gif' markdown='dashboard/help_involvement.md' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <tr>
                                                <td colspan="2">LNL</td>
                                                <td class="has-text-centered">select</td>
                                                <td class="has-text-centered">involvement (<span class="has-text-danger">metastatic</span>, <span class="has-text-info">unknown</span>, <span class="has-text-success">healthy</span>)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="3">I</td>
                                                <td>both</td>
                                                <td>{{ form.ipsi_I }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="I ipsilateral" stat=stats.ipsi_I show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>a</td>
                                                <td>{{ form.ipsi_Ia }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Ia ipsilateral" stat=stats.ipsi_Ia show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>b</td>
                                                <td>{{ form.ipsi_Ib }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Ib ipsilateral" stat=stats.ipsi_Ib show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td rowspan="3">II</td>
                                                <td>both</td>
                                                <td>{{ form.ipsi_II }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="II ipsilateral" stat=stats.ipsi_II show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>a</td>
                                                <td>{{ form.ipsi_IIa }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="IIa ipsilateral" stat=stats.ipsi_IIa show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>b</td>
                                                <td>{{ form.ipsi_IIb }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="IIb ipsilateral" stat=stats.ipsi_IIb show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">III</td>
                                                <td>{{ form.ipsi_III }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="III ipsilateral" stat=stats.ipsi_III show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">IV</td>
                                                <td>{{ form.ipsi_IV }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="IV ipsilateral" stat=stats.ipsi_IV show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td rowspan="3">V</td>
                                                <td>both</td>
                                                <td>{{ form.ipsi_V }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="V ipsilateral" stat=stats.ipsi_V show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>a</td>
                                                <td>{{ form.ipsi_Va }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Va ipsilateral" stat=stats.ipsi_Va show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td>b</td>
                                                <td>{{ form.ipsi_Vb }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="Vb ipsilateral" stat=stats.ipsi_Vb show_percent=show_percent %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">VII</td>
                                                <td>{{ form.ipsi_VII }}</td>
                                                {% include 'dashboard/barplot.html' with lnl="VII ipsilateral" stat=stats.ipsi_VII show_percent=show_percent %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <div class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <div class="field has-addons">
                                                {% for radio in form.show_percent %}
                                                <div class="control">
                                                    {{ radio.tag }}
                                                    <label for="{{ radio.id_for_label }}" class="tag button is-medium is-info" data-tooltip="Switch between displaying absolute numbers and percentages">
                                                        {% if radio.choice_label == 'percent' %}
                                                        <span class="icon">
                                                            <i class="fas fa-percentage"></i>
                                                        </span>
                                                        <span>percent</span>
                                                        {% elif radio.choice_label == 'absolute' %}
                                                        <span>absolute</span>
                                                        <span class="icon">
                                                            <i class="fab fa-slack-hash"></i>
                                                        </span>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <div class="buttons">
                                                <div class="tooltip">
                                                    <a href="{% url 'dashboard:help' %}" class="button is-medium is-primary is-outlined">
                                                        <span class="icon">
                                                            <i class="fas fa-question"></i>
                                                        </span>
                                                        <span>Help</span>
                                                    </a>
                                                    {% include 'dashboard/help_tooltip.html' with side="left" position="top" image='dashboard/buttons.gif' markdown='dashboard/help_buttons.md' %}
                                                </div>
                                                <button class="button is-medium is-warning is-light is-outlined" type="submit" formaction="{% url 'patients:list' %}"
                                                    data-tooltip="Display selected subset in list">
                                                    <span>Patients in selection: {{ stats.total }}</span>
                                                </button>

                                                <button class="button is-medium is-warning has-tooltip-multiline" type="submit" id="compute" disabled
                                                    data-tooltip="Display statistic of selected subset. Change selection to activate button">
                                                    <span class="icon">
                                                        <i class="fas fa-cogs"></i>
                                                    </span>
                                                    <span><strong>Compute</strong></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>

        {% include 'footer.html' %}
    </body>

    <script src="{% static 'dashboard/dashboard.js' %}"></script>

</html>
