{% load mytags %}

{% if name is not None %}<p class="heading has-text-centered">{{ name }}</p>{% endif %}
<div class="field has-addons is-justify-content-center mb-1" {% if tooltip_text %} data-tooltip="{{ tooltip_text }}" {% endif %}>
    {% for radio in radio_buttons %}
    <div class="control">
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}" class="tag button is-info {{ radio.choice_label }}">
            <span class="icon">
                <i class="fas fa-lg fa-{{ radio.choice_label }}"></i>
            </span>
        </label>
    </div>
    {% endfor %}
</div>

{% if stat is not None %}
<div class="tags has-addons is-justify-content-center">
    {% for i in '102' %}
    <div class="tag stat-tag button is-static">
        {% if show_percent %}
        {{ stat|percent:i }}%
        {% else %}
        {{ stat|index:i }}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}