.barplot {
    background-image:
        linear-gradient(#AE0060,#AE0060),
        linear-gradient(#BDCFD6,#BDCFD6),
        linear-gradient(#00AFA5,#00AFA5);
    background-repeat:no-repeat;
}

.barplot-legend-left {
    text-align: left;
}
.barplot-legend-center {
    text-align: center;
}
.barplot-legend-right {
    text-align: right;
}

.barplot-legend {
    width: 40px;
}

.barplot-tablecell {
    width: 100%;
}

span[data-tooltip] {
    border-bottom: none;
}
