.is-fixed {
    position: fixed;
}

.tooltip:hover .box.right {
    left: 0;
    margin-left: 32px;
}

.tooltip:hover .box.left {
    right: 0;
    margin-right: 32px;
}

.tooltip:hover .box.bottom {
    top: 0;
    margin-top: 32px;
}

.tooltip:hover .box.top
{
    bottom: 0;
    margin-bottom: 60px;
}
