{% extends "base.html" %}


{% block head %}
{% include 'head.html' with title="LyProX · Logout" %}
{% endblock head %}


{% block content %}

<section class="section">
    <div class="container">
        <div class="block columns is-centered">
            <div class="column is-4">
                <div class="box">
                    <p class="notification is-success is-light">
                        You have been successfully logged out.
                    </p>

                    <div class="buttons is-right">
                        <a href="{% url 'index' %}" class="button">
                            <span class="icon">
                                <i class="fas fa-home"></i>
                            </span>
                            <span>Home</span>
                        </a>
                        <a href="{% url 'accounts:login' %}" class="button is-primary">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>Log in again</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
