<!DOCTYPE html>


<html lang="en" class="has-navbar-fixed-top">
{% include 'head.html' with title="LyProX · Compute Personalized Risk" %}

{% load customtags %}
{% load static %}
<link rel="stylesheet" href="{% static 'riskpredictor/dashboard.css' %}">

<body>
  {% include 'navbar.html' %}

  {% csrf_token %}
  <form action="{% url 'riskpredictor:dashboard' trained_lymph_model.pk %}" method="GET" id="dashboard-form"
    name="dashboardform">
    <section class="section">
      <div class="tile is-ancestor">
        <div class="tile is-3 is-vertical">
          <!-- T-Category -->
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <p class="title is-4">Tumor</p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <div class="tooltip">
                      <span class="icon">
                        <i class="fas fa-question"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <div class="field">
                    <div class="control is-flex is-flex-direction-column is-align-items-center">
                      <label for="{{ form.t_stage.id_for_label }}" class="heading">T-Category</label>
                      <div class="select">
                        {{ form.t_stage }}
                      </div>
                    </div>
                  </div>
                </div>

                {% if trained_lymph_model.is_midline %}
                <div class="column">
                  <div class="field">
                    <div class="control is-flex is-flex-direction-column is-align-items-center">
                      <label for="{{ form.midline_extension.id_for_label }}" class="heading pb-2">Midline Extension</label>
                      {{ form.midline_extension }}
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>

            </div>
          </div>

          <!-- Sensitivity and Specificity -->
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <p class="title is-4">Diagnostic Modality</p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <div class="tooltip">
                      <span class="icon">
                        <i class="fas fa-question"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <label for="{{ form.specificity.id_for_label }}" class="heading">Specificity</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  {{ form.specificity }}
                </div>
                <div class="control is-flex is-align-items-center">
                  <output class="slider tag is-medium is-info" id="specificity-display">0.8</output>
                </div>
              </div>

              <label for="{{ form.sensitivity.id_for_label }}" class="heading">Sensitivity</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  {{ form.sensitivity }}
                </div>
                <div class="control is-flex is-align-items-center">
                  <output class="slider tag is-medium is-info" id="sensitivity-display">0.8</output>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile is-vertical">
            {% if trained_lymph_model.is_bilateral %}
            <div class="tile is-parent">
              <div class="tile is-child box">
                <div class="level">
                  <div class="level-item">
                    <p class="title is-4">contralateral</p>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <div class="tooltip">
                        <span class="icon">
                          <i class="fas fa-question"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <table class="table is-fullwidth">
                  <thead>
                    <tr>
                      <td colspan="2">LNL</td>
                      <td class="has-text-centered">select</td>
                      <td class="has-text-centered">risk</td>
                    </tr>
                  </thead>

                  <tbody>
                    {% for lnl in trained_lymph_model.lnls %}
                    {% with "contra_"|addstr:lnl as lnl_key %}
                    <tr>
                      <td colspan="2">{{ lnl }}</td>
                      <td>{{ form|get:lnl_key }}</td>
                      {% include 'dataexplorer/barplot.html' with lnl="II "|addstr:"contralateral" stats=risks lnl_key=lnl_key show_percent=True %}
                    </tr>
                    {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endif %}

            <div class="tile is-parent">
              <div class="tile is-child box">
                <div class="level">
                  <div class="level-item">
                    <p class="title is-4">ipsilateral</p>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <div class="tooltip">
                        <span class="icon">
                          <i class="fas fa-question"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <table class="table is-fullwidth">
                  <thead>
                    <tr>
                      <td colspan="2">LNL</td>
                      <td class="has-text-centered">select</td>
                      <td class="has-text-centered">risk</td>
                    </tr>
                  </thead>

                  <tbody>
                    {% for lnl in trained_lymph_model.lnls %}
                    {% with "ipsi_"|addstr:lnl as lnl_key %}
                    <tr>
                      <td colspan="2">{{ lnl }}</td>
                      <td>{{ form|get:lnl_key }}</td>
                      {% include 'dataexplorer/barplot.html' with lnl="II "|addstr:"ipsilateral" stats=risks lnl_key=lnl_key show_percent=True %}
                    </tr>
                    {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tile is-parent">
              <div class="tile is-child box">
                <div class="level">
                  <div class="level-left"></div>
                  <div class="level-right">
                    <div class="level-item">
                      <div class="buttons">
                        <a href="{#{% url 'riskexplorer:help' %}#}" class="button is-medium is-primary is-outlined">
                          <span class="icon">
                            <i class="fas fa-question"></i>
                          </span>
                          <span>Help</span>
                        </a>
                        <button class="button is-medium is-warning has-tooltip-multiline" type="submit" id="compute"
                        data-tooltip="Compute risk for selected diagnosis.">
                        <span class="icon">
                          <i class="fas fa-cogs"></i>
                        </span>
                        <span><strong>Compute</strong></span>
                      </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  {% include "footer.html" %}
</body>

<script src="{% static 'riskpredictor/dashboard.js' %}"></script>

</html>
