<div class="box content">
    <h1>The Dashboard and how to use it</h1>
    <p>
        This tab is designed to give an overview over patterns of lymphatic 
        metastatic involvement in head & neck cancer. It can - for example - be 
        used to identify correlations between risk factors and occurence of 
        metastases, but also give indications which lymph node levels (LNLs) are 
        frequently involved together.
    </p>

    <hr>

    <h2>Components</h2>
    <h3>Patient details</h3>
    <p>
        The first box to consider is on the top left. Inside, one can restrict 
        the set of patients to consider in the dashboard based on patient-
        specific properties like e.g. their smoking status.
    </p>
    <p>
        For binary features - meaning features than can either be <code>True</code> 
        or <code>False</code> - we use these three-way toggle buttons. If they 
        are in the neutral middle position, this indicates that one is not 
        interested in this feature and patients will be included in the set 
        regardless of this feature's value.
    </p>

    <h3>Primary tumor</h3>
    <p>
        Next up, just below the patient deltails, we have the box that concerns 
        itself with the primary tumor(s) of the patients. Those patients that 
        meet the filtering criteria in the last box will now be further filtered 
        based on the properties of their primary tumor.
    </p>
    <p>
        Here too, one finds again the mentioned three-way toggle butons for 
        binary properties. But the user can also select which subsites to include 
        and which T-categories to consider. For (de-)selecting, one needs to 
        click on the fields with the respective label. If they appear in dark 
        blue, they are selected. When deselected, they only show a light blue 
        color.
    </p>

    <h3>Modalities</h3>
    <p>
        In a third step the diagnostic modalities with which the lymphatic 
        involvement was diagnosed can be specified. In the same fashion as for 
        T-categories and subsites, blue boxes indicate which modalities are 
        selected (by default it is e.g. "MRI" and "PET").
    </p>
    <p>
        The effect of the selections here are twofold: First, only patients 
        that actually have the selected diagnoses are kept in the subset. Second,
        the statistics displayed just below the "Modalities"-box represent a 
        consensus of the respective diagnoses. 
    </p>
    <p>
        Selecting <code>OR</code> option will have the effect that two or more 
        diagnoses' reported involvement will be compared using a logical OR. So, 
        if any of the selected modalities reports involvement in a certain LNL, 
        the consensus too will report "involved". Using the <code>AND</code> 
        option however, only LNLs were <i>all</i> selected modalities report 
        metastases, will be considered metastatic.
    </p>
    <p class="notification is-warning is-light">
        <strong>Note:</strong> The modality <code>pCT</code> (standing for 
        planning CT) is already a kind of clinical consensus. Hence, it does not 
        necessarily make sense to compare this one to the other diagnoses.
    </p>

    <h3>contra- & ipsilateral</h3>
    <p>
        These two panels are the core of the dashboard. After selecting a subset 
        of patients that one is interested in, the patterns of metastatic 
        involvement are displayed here and can be explored in detail.
    </p>
    <p>
        It is basically comprised of two tables, one showing contra- and the 
        other ipsilateral involvement. The rows represent lymph node levels and 
        each one comes with the already introduced three-way-toggle button. 
        Leaving this in the middle (the "not interested"-position) will display 
        the ratio of patients that have metastases in this LNL (red) to patients 
        where it is healthy (green) as horizontally stacked bar. A gray portion 
        in that bar indicates that the state of involvement is unkown.
    </p>
    <p>
        Clicking the <code>+</code> or <code>-</code> buttons for an LNL will 
        then show only the patients with positive or negative reports of 
        metastases there, respectively.
    </p>

    <h3>Buttons</h3>
    <p>
        Finally, in the bottom right corner you will find three buttons of which 
        you have already discovered the light blue help button that brought you 
        here.
    </p>
    <p>
        The <strong class="has-text-warning">compute</strong> button sends a new 
        request to the server with your selected settings which will cause the 
        backend to filter the database again and show the statistics of 
        involvement.
    </p>
    <p>
        To the left of that compute-button one can see the number of patients in 
        the current selection. Clicking on it will redirect to a list of this 
        selected subset.
    </p>
    <p class="notification is-warning is-light">
        <strong>Note:</strong> In contrast to the "List" tab, this subset 
        cannot be filtered furhter in this list-view (yet). Maybe this will come 
        in a later version.
    </p>
</div>