<div class="box content">
    <h1>The Dashboard and how to use it</h1>
    <p>
        This tab is designed to give an overview over patterns of lymphatic 
        metastatic involvement in head & neck cancer. It can - for example - be 
        used to identify correlations between risk factors and occurence of 
        metastases, but also give indications which lymph node levels (LNLs) are 
        frequently involved together.
    </p>
    <p>
        Here we are going to guide the user through its many options and how to 
        make the most of this tool.
    </p>

    <hr>

    <h2>Components</h2>
    <h3>Patient details</h3>
    <p>
        The first box to consider is on the top left. Inside, one can restrict 
        the set of patients to consider in the dashboard based on patient-
        specific properties like e.g. their smoking status.
    </p>
    <p>
        For binary features - meaning features than can either be <code>True</code> 
        or <code>False</code> - we use these three-way toggle buttons. If they 
        are in the neutral middle position, this indicates that one is not 
        interested in this feature and patients will be included in the set 
        regardless of this feature's value.
    </p>

    <h3>Primary tumor</h3>
    <p>
        Next up, just below the patient deltails, we have the box that concerns 
        itself with the primary tumor(s) of the patients. Those patients that 
        meet the filtering criteria in the last box will now be further filtered 
        based on the properties of their primary tumor.
    </p>
    <p>
        Here too, one finds again the mentioned three-way toggle butons for 
        binary properties. But the user can also select which subsites to include 
        and which T-categories to consider. For (de-)selecting, one needs to 
        click on the fields with the respective label. If they appear in dark 
        blue, they are selected. When deselected, they only show a light blue 
        color.
    </p>

    <h3>Modalities</h3>
    <p>
        In a third step the diagnostic modalities with which the lymphatic 
        involvement was diagnosed can be specified. In the same fashion as for 
        T-categories and subsites, blue boxes indicate which modalities are 
        selected (by default it is e.g. "MRI" and "PET").
    </p>
    <p>
        The effect of the selections here are twofold: Firstly, only patients 
        that actually have the selected diagnoses are kept in the subset. Secondly,
        the statistics displayed just below the "Modalities"-box represent a 
        consensus of the respective diagnoses. 
    </p>
    <p>
        Blabla ...
    </p>
</div>