{% load static %}

<tr>
    {% if action == "create_diagnose" %}
    <form method="POST" action="{% url 'patients:diagnose_create' pk=patient.pk %}">

    {% elif action == "update_diagnose" %}
    <form action="{% url 'patients:diagnose_update' pk=patient.pk diagnose_pk=diagnose.pk %}" method="post">

    {% endif %}
        {% csrf_token %}
        <td>
            {{ form.diagnose_date }}
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.modality }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.side }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.Ia }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.Ib }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.IIa }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.IIb }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.III }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.IV }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.V }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="control">
                    <div class="select is-small">
                        {{ form.VII }}
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="buttons is-right">
                <a class="tag button is-small is-info" href="{% url 'patients:detail' patient.pk %}">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Cancel</span>
                </a>
                <button class="tag button is-small is-primary" type="submit">
                    <span class="icon">
                        <i class="fas fa-save"></i>
                    </span>
                    <span>Save</span>
                </button>
            </div>
        </td>
    </form>
</tr>
