{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block head %}
{% include 'head.html' with title="LyProX · Download CSV" %}
{% endblock head %}

{% block content %}

<link rel="stylesheet" href="{% static 'patients/download.css' %}">

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5">
                <div class="box">
                    <div class="block">
                        <p class="title">Download</p>
                        <p>
                            Download CSV tables of the patients in the cohort by 
                            the institution that extracted and provides them. 
                            These table has the same structure as the one that 
                            is necessary to upload a batch of patients, so it 
                            may also be used as a template.
                        </p>
                    </div>

                    {% for dataset in dataset_list %}
                    <div class="notification">
                        <div class="media">
                            <div class="media-left">
                                <figure class="block image is-48x48 is-flex is-align-items-center">
                                    <img src="{{ dataset.institution.logo.url }}" alt="institution logo">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <small>
                                            <strong>{{ dataset.name | upper }}</strong>
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </span>
                                                <span>{{ dataset.institution.shortname }}, {{ dataset.institution.city }}, {{ dataset.institution.country }}</span>
                                            </span>
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                                <span>{{ dataset.upload_date }}</span>
                                            </span>
                                        </small>
                                        <br>
                                        {{ dataset.description }}
                                        <br>
                                    </p>
                                </div>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <div class="tags">
                                                <a href="{{ dataset.csv_file.url }}" class="button tag is-primary has-addons">
                                                    <span class="icon">
                                                        <i class="fas fa-cloud-download-alt"></i>
                                                    </span>
                                                    <span>Download</span>
                                                </a>
                                                {% if dataset.repo_url %}
                                                <a href="{{ dataset.repo_url }}" class="button tag is-warning has-addons">
                                                    {{ dataset.repo_provider }}
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="content">
            {% include_md 'patients/data_description.md' %}
        </div>
    </div>
</section>

<script>
    $("#generate").click(function() {
        $("#generate").addClass("is-loading");
    });
</script>

{% endblock content %}
