{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block head %}
{% include 'head.html' with title="LyProX · Download CSV" %}
{% endblock head %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5">
                <div class="box">
                    <div class="block">
                        <p class="title">Generate & Download</p>
                        <p>
                            Initiate export of patient database and download the
                            resulting CSV table. This table has the same structure as
                            the one that is necessary to upload a batch of patients, so
                            it may also be used as a template.
                        </p>
                    </div>

                    {% if generate_success %}
                    <div class="notification is-success is-light">
                        Successfully exported database of patients
                    </div>
                    {% elif error %}
                    <div class="notification is-danger is-light">
                        {{ error }}
                    </div>
                    {% endif %}

                    <div class="block">
                        <form action="{% url 'patients:download' %}" method="post">
                            {% csrf_token %}
                            <div class="field is-grouped is-grouped-centered">
                                <div class="control">
                                    <button class="button is-primary" type="submit" id="generate" title="generate CSV from database">
                                        <span class="icon">
                                            <i class="fas fa-cogs"></i>
                                        </span>
                                        <span>Generate</span>
                                    </button>
                                </div>
                                <div class="control">
                                    <a class="button is-success" {% if download_available %}href="/downloads/latest.csv" download {% else %}disabled{% endif %} title="download exported CSV">
                                        <span class="icon">
                                            <i class="fas fa-download"></i>
                                        </span>
                                        <span>Download</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            {% include_md 'patients/data_description.md' %}
        </div>
    </div>
</section>

<script>
    $("#generate").click(function() {
        $("#generate").addClass("is-loading");
    });
</script>

{% endblock content %}
