<div class="column is-4">
    <div class="box is-flex is-justify-content-center is-align-items-center">
        <form action="{% url 'patients:tumor_delete' pk=patient.pk tumor_pk=tumor.pk %}" method="post">
            {% csrf_token %}
            <p class="title is-4">Delete tumor {{ tumor.pk }}?</p>

            <div class="buttons is-centered">
                <a href="{% url 'patients:detail' pk=patient.pk %}" class="button is-info is-small">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Cancel</span>
                </a>
                <button class="button is-danger is-small" type="submit" value="confirm">
                    <span>Delete</span>
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
