{% extends "base.html" %}

{% block content %}

{% load static %}

<section class="block columns is-centered">
    <div class="column is-5">
        <div class="box">
            <p class="title">Upload</p>
            <p class="block">
                Import multiple patients at once from a 
                <a href="" data-tooltip="click to download template">
                    specifically formatted
                </a> CSV table.
            </p>

            {% if form.errors %}
            <div class="notification is-danger is-light">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% if error %}
            <div class="notification is-danger is-light">
                {{ error }}
            </div>
            {% endif %}

            {% if not upload_success %}
            <form action="{% url 'patients:upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <div class="file" id="file-upload">
                            <label class="file-label">
                                {{ form.data_file }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-folder-open"></i>
                                    </span>
                                    <span class="file-label" id="file-label-text">
                                        Choose CSV table...
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            <span class="icon">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </span>
                            <span>Upload</span>
                        </button>
                    </div>
                </div>
            </form>
            {% else %}
            <p>{{ num_new }} patients have been added and {{ num_skipped }} were skipped.</p>
            {% endif %}
        </div>
    </div>
</section>

<script>
    const fileInput = document.querySelector('#file-upload input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#file-upload #file-label-text');
            fileName.textContent = fileInput.files[0].name;
        }
    }
</script>
{% endblock content %}