.add-tumor {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-tumor a i {
    color: black;
    font-size: 60px;
}

.add-tumor a i:hover {
    color: red;
    cursor: pointer;
}

.tumor div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.tumor .buttons input {
    display: none;
}

.tumor .buttons label:hover {
    color: red;
    cursor: pointer;
}

.tumor .buttons label i {
    font-size: 30px;
}

tr.add-diagnose td a i {
    font-size: 30px;
    color: black;
}

tr.add-diagnose td a i:hover {
    color: red;
    cursor: pointer;
}

tr.add-diagnose td input[type="submit"] {
    display: none;
}

tr.add-diagnose td label i {
    font-size: 25px;
    color: black;
}

tr.add-diagnose td label i:hover {
    color: red;
    cursor: pointer;
}