tr.add-diagnose td input[type="submit"] {
    display: none;
}

tr.add-diagnose td a,label {
    font-size: 25px;
    color: black;
}

tr.add-diagnose td a:hover,label:hover {
    color: red;
    cursor: pointer;
}