.title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
}

div.modalities ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

div.modalities ul li:first-child {
    justify-self: flex-start;
    justify-content: flex-start;
    max-width: 150px;
}

div.modalities ul li {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

div.modalities ul li:last-child {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    justify-content: center;
}

div.modalities ul li:last-child p {
    margin: 0;
}

div.modalities ul li label {
    flex-grow: 1;
    margin: 0 5px;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    background-color: lightgray;
}

div.modalities ul li input[type="checkbox"] {
    display: none;
}

div.modalities ul li input[type="checkbox"]:checked + label {
    background-color: gray;
}



div.tumor {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px;
}

div.tumor div.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.tumor div.content hr {
    background-color: white;
    width: 1px;
    border: none;
}

div.tumor div.content div ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div.tumor div.content div ul li {
    min-width: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

div.tumor div.content div ul li input {
    display: none;
}

div.tumor div.content div ul li input:checked + label {
    color: white;
    background-color: rgb(56, 56, 56);
}

div.tumor div.content div ul li label {
    min-width: 150px;
    margin-top: 10px;
    padding: 10px 5px;
    cursor: pointer;
    text-align: center;
    background-color: gray;
}


div.involvement {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.involvement div {
    width: 400px;
    background-color: red;
    display: flex;
    padding: 10px;
}

div.involvement div ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

div.involvement div.contra {
    justify-content: flex-start;
}

div.involvement div.ipsi {
    justify-content: flex-end;
}