/* HEADER of PATIENT */
.patient-header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.patient-header ul li {
    margin: 0;
    font-size: xx-large;
    font-weight: bold;
}


/* PATIENT INFO */
.patient-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.patient-info ul li {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    flex-grow: 1;
    font-size: large;
    margin: 10px 0;
    text-align: center;
    padding: 0 20px;
}


/* LIST of TUMORS */
.tumor-list {
    display: flex;
    flex-wrap: wrap;
}

.tumor-list div {
    margin: 10px 10px 10px 0;
    min-width: 300px;
    padding: 10px;
}

.tumor-list div.tumor {
    background-color: gray;
    position: relative;
    height: 180px;
}

.tumor-list div.tumor p {
    margin: 0;
}

.tumor-list div.tumor p:first-child {
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.tumor-list div.tumor div.buttons {
    display: block;
    text-align: right;
    position: absolute;
    bottom: 0;
}

.tumor-list div.tumor div.buttons form input {
    display: none;
}

.tumor-list div.tumor div.buttons form label {
    font-size: 30px;
}

.tumor-list div.tumor div.buttons form label:hover {
    cursor: pointer;
    color: red;
}


/* TABLE of DIAGNOSES */
.diagnose-list {
    padding: 0;
}

.diagnose-list table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}

.diagnose-list table tr th {
    background-color: gray;
    color: white;
    font-size: large;
    padding: 5px 0;
}

.diagnose-list table tr td {
    text-align: center;
}

.diagnose-list table tr td form input {
    display: none;
}

.diagnose-list table tr td form label {
    font-size: 25px;
}

.diagnose-list table tr td form label:hover {
    color: red;
    cursor: pointer;
}