div.patient-list {
    padding: 10px;
}

div.patient-list table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}

div.patient-list table tr th {
    background-color: gray;
    color: white;
    font-size: large;
    padding: 5px 0;
}

div.patient-list table tr td {
    text-align: center;
}

div.patient-list table tr td a {
    color: black;
}

div.patient-list table tr td a:hover {
    color: red;
    cursor: pointer;
}