div.spacer {
    padding: 20px;
}

div.upload {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 30%;
    height: 100px;
    background-color: lightgray;
}

div.upload p {
    text-align: center;
    font-weight: bold;
}

div.upload form {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.upload form button[type="submit"] {
    display: none;
}

div.upload form label {
    text-align: center;
}

div.upload form label:hover {
    color: red;
    cursor: pointer;
}

div.upload form label i {
    font-size: 30px;
}