# This is a basic workflow to push changes to a remote virtual machine
name: Push to Azure VM

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: SSH Remote Commands
      uses: appleboy/ssh-action@v0.1.4
      with: 
        host: ${{ secrets.REMOTE_IP }}
        username: ${{ secrets.REMOTE_USERNAME }}
        key: ${{ secrets.REMOTE_KEY }}
        port: 22
        script: |
          cd ${{ secrets.REPO_NAME }}
          git pull origin main
          source .venv/bin/activate
          python manage.py collectstatic --noinput
          sudo service apache2 restart